[2021-09-12 08:45] Subhradeep10 opened #1 "Make the site Responsive"
The site is not responsive, Need some on to make it

[2021-09-12 08:47] Subhradeep10 opened #2 "Favicon needed"
Need someone to create favicon for the site

[2021-09-12 08:58] Subhradeep10 opened #3 "Update Readme"
Add HTML, CSS, JAvascript icon

[2021-09-12 09:03] Subhradeep10 opened #4 "Create About Section"

[2021-09-12 09:05] Subhradeep10 opened #5 "Create a Joining Form for the New Students"

[2021-09-12 10:57] Yusuf-gitCollab commented on #1
Hi I can help you make this site responsive. Can I take this issue and work on it?

[2021-09-12 14:04] Subhradeep10 commented on #1
@Yusuf-gitCollab Assigned to you.

[2021-09-12 15:14] Yusuf-gitCollab commented on #1
@Subhradeep10  apart from Home.css do you have any other stylesheet linked. I am getting some weird styling even after removing the styling .

[2021-09-12 15:21] Yusuf-gitCollab commented on #1
And if possible can we talk on discord as it is easier to send images there.
this is the link to my discord pls follow: [https://discord.gg/dJUntm4N](url)

[2021-09-12 15:40] Subhradeep10 commented on #1
@Yusuf-gitCollab Yes , I have added bootstrap. If you want , you can remove it

[2021-09-12 19:40] Ritvik-UX commented on #5
@Subhradeep10
What Data to be collected from visitors?
- Name
- Gender
- Age, and ?

[2021-09-13 02:15] Subhradeep10 commented on #5
@Ritvik-UX
- Name
- Gender
- Age
- Contact Number
- Email

[2021-09-13 02:17] #3 closed

[2021-09-13 13:19] Subhradeep10 opened #9 "Hover Animation is not there"
Add hover animation in the Repo

[2021-09-13 23:45] Ritvik-UX opened #11 "Multiple Color Usage"
Similar Colors of Pink Shade are being used on the site's buttons and fields.

This Affects the Brand Identity.
Kindly Choose either one of the two.

:D

[2021-09-14 02:09] Subhradeep10 commented on #11
@Ritvik-UX Customize as you wish. Assingned to you

[2021-09-14 02:21] #1 closed

[2021-09-14 02:22] #2 closed

[2021-09-14 03:15] Yusuf-gitCollab commented on #5
@Subhradeep10  do you only want the front end of the form? If only the front end is needed then I would like to work on it.

[2021-09-14 03:18] Subhradeep10 commented on #5
@Yusuf-gitCollab Already done. You can create other issue and work on them

[2021-09-14 04:52] Subhradeep10 commented on #5
@Yusuf-gitCollab If you want you can place the registration form inside the footer

[2021-09-14 07:03] Ritvik-UX commented on #5
Added 😅

[2021-09-14 09:39] #11 closed

[2021-09-14 09:40] Subhradeep10 opened #13 "Update Readme"
Create a Contruibuter Section and Project Admin Section along with their images

[2021-09-14 13:19] Subhradeep10 opened #14 "Footer is not responsive"

[2021-09-14 15:27] #5 closed

[2021-09-14 15:48] Ritvik-UX opened #16 "Images doesn't have explicit height and width (Accessibility and CLS)"
The images are not proportional and aspect ratio is not maintained while checking for responsiveness.
When you check it with [PageSpeed Insight](https://developers.google.com/speed/pagespeed/insights/) later, you will find this issue affecting Cumulative Layout Shift (CLS) that is a Core Web Vital.
So, it's better to fix it now :D

@Yusuf-gitCollab - It would be better if you fix this issue as you

[2021-09-14 16:16] Subhradeep10 commented on #16
@Yusuf-gitCollab Go ahead with the issue , if you have no problem

[2021-09-14 16:55] jaimejusto commented on #14
looks like the form in the footer just needs an action and method attribute

[2021-09-14 17:03] Subhradeep10 commented on #14
@jaimejusto Go ahead.

[2021-09-14 18:52] Ritvik-UX commented on #9
@Subhradeep10
Where to add hover animations?

[2021-09-14 19:06] jaimejusto commented on #14
where should I send the form data, should I make a server?

[2021-09-14 21:46] Ritvik-UX opened #18 "Shall I make the Header Fixed while Scrolling?"
On the right side of header, there is a CTA for joining, and it would be better to keep it displaying to the users.

[2021-09-15 02:02] Subhradeep10 commented on #9
@Ritvik-UX In the cards, Whenever user hove ver the card the size will increase

[2021-09-15 02:06] Subhradeep10 commented on #18
@Ritvik-UX Sure , Go Ahead 🚀

[2021-09-15 02:06] Subhradeep10 commented on #14
@jaimejusto Sure

[2021-09-15 05:30] Ritvik-UX opened #20 "What Else To Add in the Footer?"

[2021-09-15 05:34] #18 closed

[2021-09-15 05:41] Subhradeep10 commented on #20
@Ritvik-UX copyright 2021 and any logo of Fitnezz

[2021-09-15 06:48] #20 closed

[2021-09-15 09:03] Yusuf-gitCollab commented on #16
Okay I would just a sec

[2021-09-15 09:10] Yusuf-gitCollab commented on #16
@Ritvik-UX actually if I set the width greater that 350px it would mess up with the responsive part of the site. Like in mobile screens images will overflow. But still I would try.

[2021-09-15 14:14] Ritvik-UX commented on #16
@Yusuf-gitCollab -
You can set image size to 256px x 144px as well.
You can use [Aspect Ratio Calculator](https://calculateaspectratio.com/) for shortcut, or,
you  can Apply Ratio and Proportion (Maths) manually.
:D

[2021-09-15 21:51] Ritvik-UX commented on #13
In the Readme File (confirming)?
Plz tell the layout
:D

[2021-09-15 21:51] Ritvik-UX commented on #9
Any other issue or Close :D

[2021-09-15 21:55] Ritvik-UX commented on #4
About Page on website?
If yes, then, are we going to add another external CSS file to avoid confusions with main css file?

[2021-09-16 02:22] Subhradeep10 commented on #4
@Ritvik-UX Yes, you can add external Css, Better if you create another folder for about save the work there

[2021-09-16 03:08] Subhradeep10 commented on #13
Create a table , in the readme and show all the contruibuter's pic's along (along with href to their github account).

[2021-09-16 03:09] #9 closed

[2021-09-16 06:58] Ritvik-UX opened #24 "Stock Images?"
Are these stock images for sure From Pixabay or Pexels?
If no, make sure there is no attribution required.
(Copyright!)

:D

[2021-09-16 07:14] Subhradeep10 commented on #24
No no I take them from google

[2021-09-16 07:26] Ritvik-UX commented on #24
There is high possibility of licensing issues in future... Raising new issue to replace them with stock images from [pixabay](pixabay.com) or [pexels](pexes.com).
:D

[2021-09-16 07:31] Ritvik-UX opened #26 "Replace Images with Stock Ones"
Replace Images with the Stock ones either from [Pixabay.com](https://pixabay.com) or [Pexels.com](https://pexels.com).

If you take image from any other source, make sure the chosen images are under Creative Commons Image License otherwise there will be copyright conflicts in future.
:D

[2021-09-16 07:32] Subhradeep10 commented on #26
@Ritvik-UX Okay , Go ahead. Assigned to u

[2021-09-16 07:32] #24 closed

[2021-09-16 08:05] Yusuf-gitCollab commented on #16
@Ritvik-UX  oh well thank you. But I had one more confusion. The guide I was reading also told to use width and height as close as the original width and height. Another question I had is can simply adding the width and height attributes to the img tag in html solve the problem?

[2021-09-16 09:20] Ritvik-UX commented on #16
@Yusuf-gitCollab -
- Not exactly, Height as close as possible, but, the aspect ratio should be added properly.
- Yes you can add height and width in img src attribute.

You might be noticing that height gets small when you follow the proper Aspect Ratios pixels, thats fine.
You can add as much height and width but only factor is that their aspect ratio should be present in the chart above. (16:9,

[2021-09-17 06:13] Ritvik-UX opened #28 "Unfocused Nav Links"
Basics of UI not being followed, the Nav Links are not focused when user views one of the pages. Add color to them when user is on the page for better navigation.

- Home Page > User Viewing > No Nav Link Color
![unfocused02](https://user-images.githubusercontent.com/73193822/133733171-bb0c3ef7-50d8-4356-a124-9dd516a91903.png)

- About Page > User Viewing > No Nav Link Color
![unfocused01](https:/

[2021-09-17 17:09] Ritvik-UX opened #29 "All headings under H1 Tag | Fatal for SEO"
Read this article by Search Engine Journal to get better understanding of this issue - https://www.searchenginejournal.com/h1-headings-for-google/406720/

[2021-09-17 17:17] Subhradeep10 commented on #28
@Ritvik-UX Assigned to you, go for it

[2021-09-17 17:18] Subhradeep10 commented on #29
@Ritvik-UX No need of SEO, we are doing it for learning,
If you want you can join @coders-community and start working there

[2021-09-17 17:21] Ritvik-UX commented on #29
@Subhradeep10 - Yeah! Great, Thanks :D

[2021-09-17 17:33] Ritvik-UX commented on #29
Are projects in Coders community actual, I mean not for learning :D ?

[2021-09-18 12:31] Ritvik-UX opened #31 "Please revert the last merged code"
Actually some other elements were allotted h2 tag as well and changes occurred in those tags too
![issue](https://user-images.githubusercontent.com/73193822/133888923-ae75619f-85fa-4187-82dc-ba5abb254976.png)
.

[2021-09-18 16:28] Subhradeep10 commented on #31
@Ritvik-UX Leave that, Its looking good.. Start working on other pages

[2021-09-19 18:11] Ritvik-UX opened #33 "About Page Design?"
UI of About Page Body?
:D

[2021-09-19 18:11] #31 closed

[2021-09-19 18:11] #29 closed

[2021-09-19 18:12] #26 closed

[2021-09-19 18:12] #16 closed

[2021-09-19 18:16] Ritvik-UX opened #34 "News API ?"
Shall we use API to fetch news via JS?
This API - https://newsapi.org/s/india-health-news-api

Never used this api before.
If you have better idea, we can try implementing :D

[2021-09-19 18:19] Ritvik-UX opened #35 "Join Today CTA unlinked"
The Join Today CTA over the hero image unlinked to some other page or an anchor tag.
Where to Link it -> to the contact page?

[2021-09-19 18:21] Ritvik-UX commented on #34
You can suggest better API as well
:D

[2021-09-20 14:34] Ritvik-UX commented on #33
@Subhradeep10 ?

[2021-09-27 18:26] Ritvik-UX commented on #35
@Subhradeep10 - - - - -  ???

[2021-10-03 02:31] Subhradeep10 commented on #33
@Ritvik-UX Go Ahead..assigned to you

[2022-07-03 21:39] #28 closed

[2022-07-19 14:46] Subhradeep10 opened #38 "Update in Page Design"
![Fitnezz](https://user-images.githubusercontent.com/70656957/179779538-4792eee1-3b16-44f3-b564-d4282d909691.png)

[2022-07-19 14:47] #34 closed

[2022-07-19 14:48] #33 closed

[2022-07-19 14:48] #14 closed

[2022-07-19 14:51] Subhradeep10 commented on #38
Lind to the figma file - [Fitnezz](https://www.figma.com/file/dlJtx62xN09D8pEAwzoK4k/Gym-Fitness-Landing-Page-UX-UI--Kit-(Community)?node-id=0%3A1)

[2022-07-21 08:05] Roshani9731 commented on #38
Can I work on this? @Subhradeep10

[2022-07-28 09:59] Aryan-Bhatt-pro commented on #38
is it still open or I can work on it too? @Subhradeep10

[2022-07-28 10:31] Subhradeep10 commented on #38
@Aryan-Bhatt-pro Sure, Do it component wise so that other participants can also do it, You do the navbar first!

[2022-07-28 19:19] dishant-yadav commented on #38
Can I work on the hero section of the page? @Subhradeep10

[2022-07-28 19:20] Subhradeep10 commented on #38
@dishant-yadav sure, go for it
Better create another issue...I will assign it there

[2022-07-29 05:21] dishant-yadav commented on #38
Thanks @Subhradeep10 for assigning me the work. I will surely create an another issue for the same.

[2022-07-29 05:23] dishant-yadav commented on #38
From where can i get the assets(logo) for the page?

[2022-07-29 05:26] dishant-yadav opened #39 "create the footer for the page"
Will be adding the footer as per the design given in the figma link.

[2022-07-29 06:23] Subhradeep10 commented on #39
@dishant-yadav Sure Go ahead, I will assign you once the contruibution starts

[2022-07-29 06:24] Subhradeep10 commented on #38
@dishant-yadav For now create a dummy logo

[2022-07-29 07:15] dishant-yadav commented on #39
Thanks @Subhradeep10

[2022-07-29 07:16] dishant-yadav commented on #38
okay will be using some dummy logo.

[2022-07-31 06:59] Harsh3363 opened #40 "Registration page UI imporvement"
The registration page interface can be improved

![Screenshot (91)](https://user-images.githubusercontent.com/72756692/182014119-2d4e0a56-b9f4-4957-b2a1-979494c971a9.png)

[2022-07-31 07:00] Harsh3363 commented on #40
Hii @Subhradeep10 please assign this to me I would like to make changes to it
Thanks

[2022-07-31 07:12] Subhradeep10 commented on #40
@Harsh3363 Assign to you

[2022-07-31 13:31] YasirObaibullah99 commented on #39
Can I create the footer of this website

[2022-07-31 13:58] Subhradeep10 commented on #39
@YasirObaibullah99 this will be assigned to someone else, once the program starts. You can try something else

[2022-07-31 18:03] kshitijmishra27 opened #41 "Adding the description and detailed paragraph"
hey @Subhradeep10
i want to remove random paragraphs "lorem..." to some detailed and relatable data like  I can add description to paragraphs like arm day, chest day, etc

[2022-07-31 18:04] Subhradeep10 commented on #41
@kshitijmishra27 sure go for it, I will assign you once the program starts

[2022-07-31 18:07] vaibhavchaubey opened #42 "Adding About Page"
I want to add a about page for the website

[2022-07-31 18:07] kshitijmishra27 opened #43 "adding hover efffect to register button"
@Subhradeep10  by adding hover effect to register button it will make it look cool

[2022-07-31 18:09] #43 closed

[2022-07-31 18:13] Subhradeep10 commented on #42
@vaibhavchaubey Sure, go for it...Will Assign you once the program starts

[2022-08-01 05:13] kshitijmishra27 opened #44 "Contact page"
hey @Subhradeep10
there is no contact page of this website so I wanted to add an attractive contact page to your website

[2022-08-01 05:53] Subhradeep10 commented on #44
@kshitijmishra27 Sure, go ahead..will assign once the contribution starts

[2022-08-01 09:05] srinjoy-26 opened #45 "design the news page of the website"
Design the news page

[2022-08-01 09:07] srinjoy-26 opened #46 "design a page for leg workouts."
want to add a leg workout page.

[2022-08-01 09:32] Subhradeep10 commented on #46
@srinjoy-26 Go ahead, will assign you once the program starts

[2022-08-01 09:33] Subhradeep10 commented on #45
@srinjoy-26 go ahead, will assign to you once the program starts

[2022-08-01 16:41] anmol20112000 opened #47 "Want to design a routine page"
This page categorized workouts on the basis of week days & also tells the sequence (sets& reps) of exercise for beginner, intermediate and pro.

[2022-08-01 16:51] Subhradeep10 commented on #47
@anmol20112000 Go ahead..will assign you once the programme starts

[2022-08-01 18:12] Aman-Singh-Kushwaha commented on #44
Hey can we work together

[2022-08-01 18:20] radzhiv25 opened #48 "Improvement in Registration Form UI"
Will make it reponsive as well as some enhancement in UI in the form font and color

[2022-08-01 18:21] Cypher1002 commented on #48
would like to work on the issue
make it more responsive and user friendly

[2022-08-01 18:22] Subhradeep10 commented on #48
@radzhiv25 go ahead, will assign it once the program starts

[2022-08-01 19:41] kshitijmishra27 commented on #44
@Aman-Singh-Kushwaha  sry bro but its individual task

[2022-08-02 00:06] zugzwang03 opened #49 "Add designing on the boxes"
The boxes present in "Featured classes" and "Scheduled classes" can be highlighted with some box shadow and size expansion when the cursor moves into it. I wish to add this feature under SSOC'22.

[2022-08-02 02:51] Subhradeep10 commented on #49
@zugzwang03 Go ahead, will assist you once the contribution starts

[2022-08-02 04:42] iamrahul8 commented on #39
want to contribute on this project under SSOC

[2022-08-02 04:58] Subhradeep10 commented on #39
@iamrahul8 Great Rahul, Create an issue and start working on that project

[2022-08-02 10:07] Cypher1002 opened #50 "Improvement in navbar"
Navbar can be made constant so that the viewer could refer to the links without scrolling all the way up to the top

[2022-08-02 10:08] radzhiv25 commented on #50
I can work on this using Tailwind CSS

[2022-08-02 10:13] radzhiv25 opened #51 "Some changes in the Join Today and Become a Member button"
As the the buttons aren't working will create new and some integrations regarding it using modern Boostrap or Tailwind

[2022-08-02 10:28] Cypher1002 opened #52 "Designing chest workout page"
will design  full chest workout page which will include information about various workouts regarding chest muscles and making interactive links leads users towards our workout classes

[2022-08-02 10:29] radzhiv25 opened #53 "Arm Workout Page"
With the basic arm workout and minimalistic design

[2022-08-02 11:16] kshitijmishra27 commented on #41
@Subhradeep10  i choosed this project sir hope you will assign me

[2022-08-02 11:17] kshitijmishra27 commented on #44
@Subhradeep10  hope you will assign me sir...as I choose this project in the form :)

[2022-08-02 12:19] Subhradeep10 commented on #50
@Cypher1002 wanna work on it?

[2022-08-02 12:19] Subhradeep10 commented on #51
@radzhiv25 Go ahead, will assign you once I get the excel sheet

[2022-08-02 12:20] Subhradeep10 commented on #52
@Cypher1002 Go ahead , will assign you once the contribution starts

[2022-08-02 12:20] Subhradeep10 commented on #53
@radzhiv25 Go ahead, will assign you once the contribution starts

[2022-08-02 12:21] Cypher1002 commented on #50
Yes

[2022-08-02 12:22] Subhradeep10 commented on #41
@kshitijmishra27 Don't worry, I will assign you once I get excel sheet

I haven't get it yet.. You start working on it ..No issues

[2022-08-02 12:22] Cypher1002 commented on #52
Thanks

[2022-08-02 12:23] Subhradeep10 commented on #44
@kshitijmishra27 Don't worry, I will assign it

[2022-08-02 12:26] Aman-Singh-Kushwaha commented on #44
I too have chosen this project in the form

[2022-08-02 12:31] Aman-Singh-Kushwaha opened #54 "Adding Favicon on every pages"
Hey @Subhradeep10  Can I work on adding a designed favicon on each and every connected pages

[2022-08-02 12:31] Aman-Singh-Kushwaha commented on #54
![image](https://user-images.githubusercontent.com/96011814/182375205-7ffac5d0-0e29-41a7-b73d-605d3feaba88.png)

[2022-08-02 12:32] Aman-Singh-Kushwaha commented on #54
Please  assign this to me

[2022-08-02 12:38] Subhradeep10 commented on #54
@Aman-Singh-Kushwaha Go ahead, will assign you once I get the excel sheet

[2022-08-02 12:39] Subhradeep10 commented on #44
@Aman-Singh-Kushwaha No problem, The Issues are assigned on the basis of first come first serve. You can open another issue and I will assign that to you

[2022-08-02 13:02] Aman-Singh-Kushwaha opened #55 "Adding Back to Top button"
Back to top button get important when pages become lengthy,
I can do this with matching color, hence ***Improving User Experience***

[2022-08-02 13:03] Aman-Singh-Kushwaha commented on #55
Please assign it to me

[2022-08-02 13:06] Subhradeep10 commented on #55
@Aman-Singh-Kushwaha Start working on it, I will start assigning once I get the excel sheet

[2022-08-03 06:55] Anubhavgupta14 opened #56 "Social Media Handles should be include at footer."
Social Media Handles and emails for contact should be included in the footer.

[2022-08-03 06:59] Anubhavgupta14 opened #57 "Background can be improve by using Carousel and animations."

[2022-08-03 12:39] shreyashkr17 commented on #54
can I also do the same?

[2022-08-03 12:40] shreyashkr17 commented on #50
we can make the navbar fixed on top so that user dont need to go till upward for other page links

[2022-08-03 12:45] Subhradeep10 commented on #56
@Anubhavgupta14 Go ahead, will assign you once I get the excel sheet

[2022-08-03 12:46] Subhradeep10 commented on #50
@Cypher1002  Go ahead, will assign you once I get the excel sheet

[2022-08-03 12:47] Aman-Singh-Kushwaha commented on #54
@shreyashkr17. Bro its individual task , you can contribute to another big issue that may take longer time😊

[2022-08-03 12:58] shreyashkr17 commented on #54
okay okay . I got the point.

[2022-08-03 13:04] shreyashkr17 opened #59 "Add Suitable Header/Title with join in page."
Describe the solution you'd like

I would like to add the proper header and some attractive quote along with join in page that will be appear when the join in button will be clicked

- [x] Add attractive header Lines
- [x] Add join in page.

![s1](https://user-images.githubusercontent.com/97216718/182614748-e58eeb2e-591e-430e-858e-7ca8e18500bb.png)

[2022-08-03 13:08] shreyashkr17 commented on #59
can I resolve this issue?
@Subhradeep10 sir?

[2022-08-03 13:09] shreyashkr17 opened #60 "Add a subscription page/become a member page"
![s2](https://user-images.githubusercontent.com/97216718/182615591-180adcee-2ab5-4d69-97a7-17c007f81c14.png)

- [ ] add a subscription page

[2022-08-03 13:09] shreyashkr17 commented on #60
I want to resolve this issue too.

[2022-08-03 13:23] Sumit3301 opened #61 "Working on arm workout page"
Hi, I want to design and build arm workout page with detailed explanation.

[2022-08-03 15:49] Subhradeep10 commented on #61
Someone is already assigned..You can try another workout page @Sumit3301

[2022-08-03 15:49] #61 closed

[2022-08-03 15:50] Subhradeep10 commented on #60
You want to build a page for member? @shreyashkr17

[2022-08-03 15:50] Subhradeep10 commented on #59
@shreyashkr17 Go ahead , Assigned to you

[2022-08-03 15:57] shreyashkr17 commented on #60
yes kind of subscription but that will limit to just interface not upto the redirection to payment. further you can exceed that later.

[2022-08-03 15:59] Subhradeep10 commented on #56
@Anubhavgupta14 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:00] Subhradeep10 commented on #55
@Aman-Singh-Kushwaha Go ahead, Start working on it..Assigned to you

[2022-08-03 16:00] #38 closed

[2022-08-03 16:01] Subhradeep10 commented on #40
@Harsh3363 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:03] Subhradeep10 commented on #54
@Aman-Singh-Kushwaha Go ahead, Start working on it..Assigned to you

[2022-08-03 16:05] Subhradeep10 commented on #53
@radzhiv25 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:07] zugzwang03 commented on #49
Can you please assign me here please?

[2022-08-03 16:07] Subhradeep10 commented on #52
@Cypher1002 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:07] Harsh3363 commented on #40
Sure 👍

[2022-08-03 16:09] Subhradeep10 commented on #50
@Cypher1002 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:10] Subhradeep10 commented on #41
@kshitijmishra27 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:12] Subhradeep10 commented on #42
@vaibhavchaubey Go ahead, Start working on it..Assigned to you

[2022-08-03 16:12] Subhradeep10 commented on #44
@kshitijmishra27 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:13] kshitijmishra27 commented on #41
thanks sir 😁

[2022-08-03 16:13] Subhradeep10 commented on #49
@zugzwang03 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:14] Subhradeep10 commented on #48
@radzhiv25 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:15] Subhradeep10 commented on #47
@anmol20112000 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:16] Subhradeep10 commented on #46
@srinjoy-26 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:17] Subhradeep10 commented on #45
@srinjoy-26 Go ahead, Start working on it..Assigned to you

[2022-08-03 16:18] Subhradeep10 commented on #60
@shreyashkr17 Okk assigned to you

[2022-08-03 17:04] Subhradeep10 opened #62 "Update the Readme File"
- [ ] Change the logo for tech stack
- [ ] Create a stargazer's graph
- [ ] Create a Contruibuter and Project admin section

[2022-08-03 17:09] zugzwang03 commented on #49
This issue has been solved in the pull request #63

[2022-08-03 17:12] Subhradeep10 commented on #49
Great, I will merge the PR tomorrow

[2022-08-03 17:26] Prahmodh-R opened #64 "Add a Description of the coaches available to train the users"

[2022-08-03 17:28] Subhradeep10 commented on #64
@Prahmodh-R Go ahead, assign to you

[2022-08-03 17:29] Prahmodh-R commented on #64
@Subhradeep10 Thank you!

[2022-08-03 18:31] Shinjini123 opened #65 "Description of back-workout"
i would like to put a description for the back workout card instead of lorem. please assign it to me

[2022-08-03 18:32] YasirObaibullah99 opened #66 "In featured classes will add card and shadow effect"

[2022-08-03 18:33] Subhradeep10 commented on #65
@Shinjini123 Go ahead, assigned to you

[2022-08-03 18:34] Subhradeep10 commented on #66
@YasirObaibullah99 already assigned to someone else

[2022-08-03 18:34] #66 closed

[2022-08-03 19:59] Muhammad-waqar-uit commented on #62
can I take this since everyone have taken all other issues.

[2022-08-04 03:20] Subhradeep10 commented on #62
@Muhammad-waqar-uit yeah go ahead, assigned to you

[2022-08-04 04:54] #49 closed

[2022-08-04 05:21] dhruvbhatia1 opened #68 "Make the header/navbar stay on the top while scrolling"
Hi @Subhradeep10
Would like to make the Header/navbar section sticky. This will keep the header on top of the webpage when you are scrolling down making the webpage better visually and the navbar easily accessible.

[2022-08-04 05:38] Siddhanthota commented on #68
Would love to work on this one

[2022-08-04 05:40] Subhradeep10 commented on #68
@dhruvbhatia1 Not needed, It will look odd.
We are already having back to top button

[2022-08-04 05:40] #68 closed

[2022-08-04 05:45] con-artist opened #69 "Add description for different workouts in the scheduled class section"
I would like to add a proper description for the all the workout cards in place of lorem. Please assign it to me

[2022-08-04 06:02] Siddhanthota opened #70 "Dropdown Menu in Navbar"
Creating a dropdown menu for Home page which will enable user to navigate to different sections of home page(For eg: Featured Classes, Scheduled Classes, Registration Section as of now). This will enhance the user experience.
For reference:
![navbar](https://user-images.githubusercontent.com/22271775/182774313-04eeff77-de6f-4da0-8c2d-09db728c2b00.png)

[2022-08-04 06:03] Siddhanthota commented on #70
Would love to work on this

[2022-08-04 06:08] Siddhanthota opened #71 "scroll to top button"
creating a button that appears when you start scrolling and on click smooth scrolls you to the top of the page.

[2022-08-04 06:09] Siddhanthota commented on #71
Here's another issue i would love to work on!!

[2022-08-04 06:24] Anshitseth opened #72 "featured classes section"
want to add description to all workout cards . and can add carousal section to help new users to read reviews of existing users .

[2022-08-04 06:25] Anshitseth commented on #69
want to add desciption
please allow me

[2022-08-04 06:39] Vanshiii203 opened #73 "Add a Membership offers page"
I would like to add a membership offers page along with the benefits of it.

[2022-08-04 06:39] Vanshiii203 opened #74 "Add a Membership offers page"
I would like to add a membership offers page along with the benefits of it.

[2022-08-04 06:40] Subhradeep10 commented on #71
@Siddhanthota Go ahead , assigned to you

[2022-08-04 06:41] Subhradeep10 commented on #69
@con-artist No needed, It will look clumsy

[2022-08-04 06:41] #69 closed

[2022-08-04 06:42] Subhradeep10 commented on #70
@Siddhanthota No needed. The navbar is perfect

[2022-08-04 06:42] #70 closed

[2022-08-04 06:42] Subhradeep10 commented on #72
@Anshitseth You can add carousal section, Go ahead

[2022-08-04 06:45] Subhradeep10 commented on #73
@Vanshiii203 Aleardy assigned to someone else

[2022-08-04 06:45] #73 closed

[2022-08-04 06:45] #74 closed

[2022-08-04 07:12] Siddhanthota commented on #70
cool

[2022-08-04 07:26] con-artist opened #75 "Add more workout cards"
![image](https://user-images.githubusercontent.com/82517773/182788760-ca2d7b8b-fc1a-4e41-ba1e-e36ae4e3d35f.png)
I want to add more workout cards like bicep workout , Cardio workout etc

[2022-08-04 07:29] con-artist opened #76 "FAQ and Tips section"
I would also like to work on adding a Faq and workout tips section

[2022-08-04 08:01] MohitNamdev22 opened #77 "Adding Icon to the website by making changes to index file"

[2022-08-04 09:27] #77 closed

[2022-08-04 09:44] MohitNamdev22 opened #78 "Adding a Gallery section on webpage"

[2022-08-04 09:50] Vanshiii203 opened #79 "Add a trainee review section"

[2022-08-04 10:06] vaibhavsharma1234 opened #80 "i want to improve the registration form at the bottom of the main page"
i will make its ui better

[2022-08-04 10:22] vaibhavsharma1234 opened #82 "hero section background image is not responsive i want to make it responsive"

[2022-08-04 10:30] con-artist opened #83 "Update hero section content"
![image](https://user-images.githubusercontent.com/82517773/182826036-fbb5230d-d7ba-42de-a2cc-c2b5ed4cd272.png)
I want to update this with proper content

[2022-08-04 11:11] vaibhavsharma1234 opened #84 "I want to improve the ui of the cards on the main page"

[2022-08-04 12:41] Siddhanthota commented on #62
Can there be multiple assignees for this issue? If yes, i would love to explore and update the documentation.

[2022-08-04 12:53] dhruvbhatia1 opened #85 "Improve the 'Join Today' button"
@Subhradeep10
Would like to make some modifications to the Join Today button  to match the color theme and make it visually appealing.

[2022-08-04 14:15] TusharKesarwani commented on #85
@dhruvbhatia1 You can modify the button, Go ahead.

[2022-08-04 14:16] TusharKesarwani commented on #75
@con-artist You can add cards, Go ahead.

[2022-08-04 14:18] Atharv-110 commented on #76
@con-artist Go Ahead! Assigned to you.
You can make an Accordian for Faqs and animated cards for tips.

[2022-08-04 14:19] TusharKesarwani commented on #84
@vaibhavsharma1234 You can improve the UI, Go ahead.

[2022-08-04 14:20] vaibhavsharma1234 commented on #84
Thaks

[2022-08-04 14:24] TusharKesarwani commented on #85
The issue is already created.

[2022-08-04 14:24] #85 closed

[2022-08-04 14:26] TusharKesarwani commented on #78
@MohitNamdev22 Go ahead

[2022-08-04 14:27] TusharKesarwani commented on #79
@Vanshiii203 Go ahead.

[2022-08-04 14:28] Atharv-110 commented on #79
@Vanshiii203 Go Ahead! Assigned to You.
Make a responsive Testimonial Section with a carousel (slider).

[2022-08-04 14:29] Atharv-110 commented on #80
Hey @vaibhavsharma1234, Issue is already created and assigned.

[2022-08-04 14:29] #80 closed

[2022-08-04 14:30] TusharKesarwani commented on #83
@con-artist Go ahead.

[2022-08-04 14:31] Subhradeep10 commented on #82
@vaibhavsharma1234 Say it clearly with image

[2022-08-04 14:33] anshulsoni4 opened #86 "Want to add a footer to this web page"

[2022-08-04 14:41] anshulsoni4 opened #87 "Form validation"
validating the registration form using javascript.

[2022-08-04 14:42] Atharv-110 commented on #87
Go Ahead @anshulsoni4! Assigned to you!

[2022-08-04 14:43] Subhradeep10 commented on #86
@anshulsoni4 Already assigned to someone else

[2022-08-04 14:43] #86 closed

[2022-08-04 14:49] Subhradeep10 commented on #62
@Siddhanthota No, if anything is left afterr his work if you wanna add something else in the documentation..then you can again reopen the issue

[2022-08-04 14:55] Muhammad-waqar-uit commented on #62
@Subhradeep10 can u tell me what is that stargazer's graph? I can't find it.

[2022-08-04 14:57] Subhradeep10 commented on #62
@Muhammad-waqar-uit https://starchart.cc/ check it out

[2022-08-04 14:58] Kirankp25 opened #88 "to improve main page UI(JOIN TODAY BUTTON)"
I want to change this main page"JOIN TODAY" button which is not visible clearly.
assign me this issue

![SSOC22](https://user-images.githubusercontent.com/87818185/182879123-1d28aa75-4599-4b7d-85c1-ac2494d3e4c1.png)

[2022-08-04 15:04] Subhradeep10 commented on #88
@Kirankp25 Already assgined to someone else

[2022-08-04 15:04] #88 closed

[2022-08-04 15:19] Anjuli08 opened #89 "Add a Footer Section"
I want to add a footer section in the site

[2022-08-04 15:24] Muhammad-waqar-uit commented on #62
@Subhradeep10  where can I see the project admins or are u the only one ?

[2022-08-04 15:41] vaibhavsharma1234 commented on #82
![Uploading Screenshot_2022-08-04-21-10-41-848_com.android.chrome.png…]()
See this image is not responsive in mobile

[2022-08-04 15:44] vaibhavsharma1234 commented on #82
![Screenshot_2022-08-04-21-10-41-848_com android chrome](https://user-images.githubusercontent.com/96341386/182889332-63424a9b-faf4-44b8-9d8b-11de775ba97f.png)
This image is not responsive

[2022-08-04 15:56] Kirankp25 opened #90 "To make footer more attractive and responsive(copyright and policies)"
In this project its footer looks very simple and basic I want to make it more attractive and add some points like "copyright and policies".
assign me this issue.

![Screenshot (208)](https://user-images.githubusercontent.com/87818185/182891713-a4838669-27e1-4837-87af-4ac1f8a2abc6.png)

[2022-08-04 16:12] con-artist commented on #76
Do I have use pure javascript and css or can use some framework like bootstrap or mui?

[2022-08-04 16:15] Ashxsh1 opened #91 "To add Footer Section and change the Transition on the scheduled classes and featured classes."

[2022-08-04 16:25] TusharKesarwani opened #92 "Images missing in meet the trainers section"
If anyone knows how to edit then comment here.
I'll assign this issue to you.

[2022-08-04 16:25] Subhradeep10 commented on #62
Yeah , I am the only one
And project mentor are
@Atharv-110
@SachinMittal1766
@TusharKesarwani

[2022-08-04 16:31] TusharKesarwani commented on #89
@Anjuli08  Go ahead.

[2022-08-04 16:33] Prahmodh-R commented on #92
Can I take up this issue? Since I was the one who created the trainers section and i just need to add the images to the images folder?

[2022-08-04 16:34] TusharKesarwani commented on #89
@Anjuli08  Already assigned to someone else.

[2022-08-04 16:34] #89 closed

[2022-08-04 16:35] TusharKesarwani commented on #90
@Kirankp25  Already assigned to someone else.

[2022-08-04 16:35] #90 closed

[2022-08-04 16:35] TusharKesarwani commented on #92
Yes, Go ahead.

[2022-08-04 16:38] TusharKesarwani commented on #91
@Ashxsh1  Already assigned to someone else.

[2022-08-04 16:39] #91 closed

[2022-08-04 16:40] TusharKesarwani commented on #82
@vaibhavsharma1234 Go ahead

[2022-08-04 17:43] #92 closed

[2022-08-04 19:39] mundadapurva opened #98 "Needed a placeholder and max length for registration."
Needed a **placeholder** and **max length** for registration.

[2022-08-04 19:43] Atharv-110 commented on #76
@con-artist
You can use framework like bootstrap but keep in mind the styling of such frameworks shouldn't override the original styling.

[2022-08-05 00:35] con-artist opened #99 "Add a new Testimonials section"
I want to work on creating a new testimonials section

[2022-08-05 01:47] tushar-glitch commented on #98
I don't think placeholder is needed is the registration form

[2022-08-05 02:52] Ashxsh1 opened #101 "Change the animation on Join Today, Join Now and Register Buttons."

[2022-08-05 02:52] Ashxsh1 opened #102 "1.Change the animation on Join Today, Join Now and Register Buttons."

[2022-08-05 03:38] zugzwang03 opened #103 "Update the navigation section with suitable names"
The navigation section contains home, about, contact, news; but in reality the website layout is home, featured classes, scheduled classes, trainee and registration section. I want to update this navigation links with suitable links on it.
![image](https://user-images.githubusercontent.com/95460021/182996476-e4c4e2ce-ac53-4124-b27e-8f96a32d959c.png)

[2022-08-05 03:38] zugzwang03 commented on #103
Also I want to work on this issue under SSOC'22

[2022-08-05 04:04] Subhradeep10 commented on #103
@zugzwang03 About pages and other words pages are also coming, the featured classes are the components of Home page

[2022-08-05 04:04] #103 closed

[2022-08-05 06:17] vaibhavsharma1234 commented on #84
https://vaibhavsharma1234.github.io/demo1/
please see the changes in the cards and any other imprvement if u like
if not then i will create a pr
thanks

[2022-08-05 07:24] Subhradeep10 commented on #99
@con-artist Go ahead, assigned to you

[2022-08-05 07:24] YasirObaibullah99 opened #104 "Will change shadow effect"
In Featured classes and Scheduled class the Shadow effect is not Working in proper way

[2022-08-05 07:26] Subhradeep10 commented on #84
@vaibhavsharma1234 It's great, first pull the code cause many things are changed..and then create the PR

[2022-08-05 07:33] vaibhavsharma1234 commented on #84
Ok i wil do it by evening

[2022-08-05 07:34] Atharv-110 commented on #102
Go ahead @Ashxsh1
Assigned to you!

[2022-08-05 07:37] Subhradeep10 commented on #99
@con-artist sorry it was mistake from my side, it's already been assigned to someone else

[2022-08-05 07:38] #99 closed

[2022-08-05 07:40] Atharv-110 commented on #104
Go ahead @YasirObaibullah99
Assigned to you!

[2022-08-05 09:20] TusharKesarwani commented on #101
@Ashxsh1 Already assigned to someone else.

[2022-08-05 09:20] #101 closed

[2022-08-05 09:21] TusharKesarwani commented on #98
@mundadapurva Go ahead

[2022-08-05 09:45] leesha19 opened #106 "improve registration section styling"

[2022-08-05 12:29] SachinMittal1766 commented on #106
Hey @leesha19, It is already assigned. https://github.com/Subhradeep10/Fitnezz/issues/48

[2022-08-05 12:31] #106 closed

[2022-08-05 13:50] con-artist opened #108 "Add Free class button in navbar"
![image](https://user-images.githubusercontent.com/82517773/183090818-e5d54bf7-5f5d-49cf-848a-a8eba678c7fd.png)
Next to "become a member " option I want to add a "Free class" option which when clicked will take you to the register section in the page
![image](https://user-images.githubusercontent.com/82517773/183091058-07dd567e-ffe6-42cb-a997-326174437ca5.png)
something like this

[2022-08-05 13:54] con-artist opened #109 "Improve the UI of coach cards"
![image](https://user-images.githubusercontent.com/82517773/183091585-e5fd126e-2663-4917-afcb-80239d070b7a.png)
I would like to make these texts aligned in one line to look better

[2022-08-05 14:33] Subhradeep10 commented on #108
@con-artist Not needed

[2022-08-05 14:33] #108 closed

[2022-08-05 14:49] Subhradeep10 opened #110 "Fix the Layout"
![image](https://user-images.githubusercontent.com/70656957/183102151-aa1e116a-3642-4aec-9ae1-72d27a5f6f99.png)

[2022-08-05 15:51] vaibhavsharma1234 commented on #110
I can do it

[2022-08-05 15:52] Subhradeep10 commented on #110
@vaibhavsharma1234 Go ahead assigned to you

[2022-08-05 16:19] kshitijmishra27 commented on #42
hey @Subhradeep10
I recently contacted @vaibhavchaubey and he told me that he chosen another project
so please assign me this issue  😄

[2022-08-05 16:20] vaibhavchaubey commented on #42
@Subhradeep10 please assign this issue to @kshitijmishra27

[2022-08-05 16:30] kshitijmishra27 commented on #65
i already done it as it was assigned to me 2 days ago @Subhradeep10

[2022-08-05 16:33] kshitijmishra27 opened #112 "Adding Back workout page"
hi @Subhradeep10
issues of an arm workout, leg workout, and chest workout are already raised so I will like to work on the Back workout page
on clicking the Backworkout card...user will be directed to the Back-workout page
waiting for you to assign me 😄

[2022-08-05 17:40] Atharv-110 opened #114 "Update the Color of Cards"
### Description:
Change the color of the cards as the text is not clearly visible and it doesn't look appealing.

[2022-08-05 17:42] Arya-2491 commented on #114
I would like to work on this issue.

[2022-08-05 18:05] Anubhavgupta14 commented on #57
Thanks @Subhradeep10 for assigning me this issue, Started working on it.

[2022-08-05 18:05] Anubhavgupta14 commented on #56
Thank you @Subhradeep10 for assigning me this issue.

[2022-08-06 00:43] con-artist opened #116 "Refactor the code to remove redundancy"
All the workout cards have been coded separately.
![image](https://user-images.githubusercontent.com/82517773/183226730-0f2e2ee1-7861-4aa8-80f0-e95068c9074c.png)

I have to add them in another file and map through them

[2022-08-06 00:53] con-artist opened #117 "Update the heading underlines"
![image](https://user-images.githubusercontent.com/82517773/183227122-511160e5-30f8-420c-8ac2-c94f0a0733fd.png)
I would like to fix this and remove that white line in between

[2022-08-06 03:14] vaibhavsharma1234 opened #118 "I want to add a dark theme and light theme switching button in the website"

[2022-08-06 04:33] SachinMittal1766 commented on #118
Go for it

[2022-08-06 04:47] zugzwang03 opened #119 "Add more cards in the scheduled class section"
the featured class section contains mire cards compared to scheduled classes, so I wanted to update the scheduled classes section as well. Also I wanted to do this under SSOC'22.

[2022-08-06 05:06] AnushkaMittal21 opened #120 "Want to add address, mail, call details near registration form."
I want to add the address of the center along with the favicon plus it will be responsive.
And same for call and mail details. (Contact number and mail id).
Please assign me the issue.
Also, socials can be added.

[2022-08-06 05:21] vaibhavsharma1234 opened #121 "in join page i think its ui can be made a little better like the join form it can be improved i like to do it"

[2022-08-06 05:24] vaibhavsharma1234 commented on #118
thanks for assigning

[2022-08-06 08:18] Aman-Singh-Kushwaha opened #123 "Fixing navbar to stay at top"
Hey @mentors it will look cool when the navbar stays on top of the screen while scrolling

[2022-08-06 08:18] Aman-Singh-Kushwaha commented on #123
So, Assign it to me

[2022-08-06 10:48] con-artist opened #126 "Fix navbar button in join in page"
![image](https://user-images.githubusercontent.com/82517773/183245719-0490b6d2-ecb1-4ddb-965f-9aca85cd5e7f.png)
The expand navbar icon is not working. I would like to  fix it. Please assign it to me

[2022-08-06 13:34] Ashish4321-hub opened #127 "Align registration form in right place"
The registration form are not aligned properly .So l want to align properly.
![Screenshot_2022-08-06-19-01-26-55_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/88235823/183251180-d916f85b-67d9-4e46-98d0-327eadea33b2.jpg)

[2022-08-06 15:39] Anubhavgupta14 commented on #57
PR is created

[2022-08-06 15:40] Anubhavgupta14 commented on #56
PR is Created

[2022-08-06 17:51] Anubhavgupta14 commented on #57
PR has been added @Subhradeep10

[2022-08-06 20:29] vaibhavsharma1234 opened #130 "I want to improve the trainers cards and also edit the lorem in cards of workout section"
Wil add some text related to workout in place of lorem

[2022-08-07 01:49] AnshuMishra01 opened #131 "The Transition Effect of Join Today Button is not smooth I want to look it more smooth"
![image](https://user-images.githubusercontent.com/95041038/183271628-cbffa2eb-4d2c-4658-b157-9a6fffa5b30f.png)

[2022-08-07 01:57] AnshuMishra01 opened #132 "Add real data in Paragraph tags ( replace Lorem)"
![image](https://user-images.githubusercontent.com/95041038/183271828-8924edad-2923-481f-93f3-7c2a762b461a.png)

[2022-08-07 05:12] TusharKesarwani commented on #112
@kshitijmishra27 Go ahead

[2022-08-07 05:13] TusharKesarwani commented on #120
@AnushkaMittal21 Go ahead.

[2022-08-07 05:14] TusharKesarwani commented on #114
Go ahead @Arya-2491

[2022-08-07 05:17] TusharKesarwani commented on #116
Please mention what is the benefit of doing this @con-artist

[2022-08-07 05:18] TusharKesarwani commented on #117
@con-artist Go ahead

[2022-08-07 05:20] TusharKesarwani commented on #119
Go ahead @zugzwang03

[2022-08-07 05:21] TusharKesarwani commented on #121
@vaibhavsharma1234 GO ahead

[2022-08-07 05:22] TusharKesarwani commented on #123
@Aman-Singh-Kushwaha Go ahead

[2022-08-07 05:24] TusharKesarwani commented on #126
It is working properly.
The join-in page is already available in the footer of the website.
Please visit the website again @con-artist

[2022-08-07 05:27] TusharKesarwani commented on #127
It is working properly.
Please zoom out of the page.
Or visit the website again on chrome on a new tab.

[2022-08-07 05:28] TusharKesarwani commented on #109
This is not required here @con-artist

[2022-08-07 05:31] TusharKesarwani commented on #130
@vaibhavsharma1234 Go ahead

[2022-08-07 05:32] TusharKesarwani commented on #131
@AnshuMishra01 Go ahead

[2022-08-07 05:33] TusharKesarwani commented on #132
@AnshuMishra01 Go ahead

[2022-08-07 05:43] Ashish4321-hub commented on #127
Okay sir

[2022-08-07 05:43] #127 closed

[2022-08-07 06:04] con-artist commented on #126
https://subhradeep10.github.io/Fitnezz/joinin.html#
If you go to this page and reduce the size to mobile view you will the nav is not opening
I tried it and its not working.

[2022-08-07 06:06] con-artist commented on #116
Basically In future if you have to add more cards or workouts you wont have to a write code for each card and it will reduce the number of lines of code also .

[2022-08-07 06:20] TusharKesarwani commented on #126
Ok,
@con-artist Go ahead and work on this.
I'm assigning it to you.

[2022-08-07 06:21] TusharKesarwani commented on #116
Ok @con-artist Go ahead

[2022-08-07 06:36] MohitNamdev22 opened #135 "Adding Proper Transition / Animation to Our Services Page Buttons"

[2022-08-07 06:37] #135 closed

[2022-08-07 14:11] Aman-Singh-Kushwaha commented on #54
@Subhradeep10  and Mentors  I have **custom designed favicon** which matches the UI color and depicts the purpose of the website

![apple-touch-icon](https://user-images.githubusercontent.com/96011814/183294852-cb656cba-8b85-46d1-a2ca-9abc2f159d97.png)

It will be clearly visible in both _Light_ and _Dark theme_ of browser

[2022-08-07 14:12] Aman-Singh-Kushwaha commented on #54
Should i go ahead by raising PR

[2022-08-07 23:29] #109 closed

[2022-08-08 00:45] con-artist commented on #116
@TusharKesarwani  can you assign it please.

[2022-08-08 00:48] #116 closed

[2022-08-08 00:51] con-artist opened #139 "add home page link to the logo"
![image](https://user-images.githubusercontent.com/82517773/183318653-c29eca26-ca5a-4622-b5a2-ab19ea33def4.png)
I would like to add the home link to this logo so that on clicking it user will be redirected to the home page

[2022-08-08 06:11] Vanshiii203 opened #140 "Improving the font size, weight and transition of home page"
![Screenshot (287)](https://user-images.githubusercontent.com/94471189/183350956-ba49033f-b9d7-46f4-98e2-0395a0069399.png)

[2022-08-08 15:02] Subhradeep10 commented on #139
@con-artist Go ahead asssigned to you

[2022-08-08 17:02] akanksha0812 commented on #140
Please assign this issue to me, i will do the required changes

[2022-08-08 17:39] TusharKesarwani commented on #140
@Vanshiii203 Go ahead and make changes

[2022-08-08 17:57] #110 closed

[2022-08-08 18:01] #104 closed

[2022-08-08 18:01] #84 closed

[2022-08-08 18:03] #62 closed

[2022-08-08 18:04] #54 closed

[2022-08-08 18:46] #48 closed

[2022-08-08 18:46] #50 closed

[2022-08-08 18:49] #76 closed

[2022-08-08 20:06] Atharv-110 opened #144 "Improve the Slider in Testimonial Section"
Sliders include left-right button sliders, toggle sliders, grab the content, and slide.
Please Improve the testimonial slider by implementing the above types in all.
Anyone who wishes to work on this issue, comment down and it will be assigned to them.

[2022-08-08 20:30] vaibhavsharma1234 commented on #144
I can take it but i didn't understand what to do

[2022-08-08 20:30] vaibhavsharma1234 commented on #144
I can add automatic slider Plus the arrow or toggle one

[2022-08-08 20:32] vaibhavsharma1234 commented on #144
But i don't know how to add geav the content one

[2022-08-08 21:29] Atharv-110 commented on #144
@vaibhavsharma1234 got for it. Try to go through the resources for implementing grab functionality amongst cards.
Assigned to you.

[2022-08-09 02:19] con-artist commented on #144
@Atharv-110  I don't see any testimonials section on the website? And  any idea why are the changes from merged pull requests not begin shown in the deployed website?

[2022-08-09 02:21] con-artist opened #146 "Improve the scheduled classes section UI"
![image](https://user-images.githubusercontent.com/82517773/183549394-5c250381-0776-4ddd-b52c-58be17f24088.png)
I would like to fix this alignment issue  and also improve upon the UI of this section and its cards
Please assign it to me

[2022-08-09 02:25] con-artist opened #147 "Add home page link in the navbar"
![image](https://user-images.githubusercontent.com/82517773/183549808-530ace00-27cb-4b07-b7bd-f1b880a033b5.png)
I would like to add the home page link the home option in nav bar . if you go to join in page and click on it , it will not take you back to the home page. I want to fix this issue

[2022-08-09 02:27] con-artist opened #148 "Footer section"
I don't see any footer section yet . So if no is working on it can I make a footer for the website?

[2022-08-09 02:31] vaibhavsharma1234 commented on #144
It's because the build is failing during deployment
That's why changes are in code but not on website

[2022-08-09 02:35] con-artist commented on #144
@vaibhavsharma1234  Even in my local after pulling I dont see any testimonial section? Is it there for you?

[2022-08-09 04:02] vaibhavsharma1234 commented on #144
yes someone removed the testimonial  section
@Atharv-110  should i add one ?

[2022-08-09 04:02] vaibhavsharma1234 commented on #82
this is completed
thanks

[2022-08-09 04:03] vaibhavsharma1234 commented on #130
this is completed
thanks

[2022-08-09 04:04] vaibhavsharma1234 commented on #118
can u suggest the colors u want for dark theme or should i choose by myself

[2022-08-09 04:05] Anubhavgupta14 commented on #57
Issue has been fixed.

[2022-08-09 04:05] #57 closed

[2022-08-09 04:06] Anubhavgupta14 commented on #56
Issue has been fixed

[2022-08-09 04:06] #56 closed

[2022-08-09 04:53] MohitNamdev22 opened #150 "Transition in Navbar ul is not smooth"
The transition on Navbar ul is not smooth, and I wish to Fix this issue under SSOC'22. So can you Assign it to me?
![image](https://user-images.githubusercontent.com/89779447/183567146-be347f6f-ab72-44fb-b471-a00f0f4cee5c.png)

[2022-08-09 10:59] TusharKesarwani commented on #146
Go ahead @con-artist

[2022-08-09 11:00] TusharKesarwani commented on #147
Go ahead @con-artist

[2022-08-09 11:01] TusharKesarwani commented on #148
Go ahead @con-artist

[2022-08-09 11:02] TusharKesarwani commented on #150
Go ahead @MohitNamdev22

[2022-08-09 17:34] dishant-yadav commented on #39
Hi @Subhradeep10, I was assigned footer section of the website. I have almost completed the design
But in the footer section I am unable to read the text in the figma design provided and even there is logo in present in the images folder.
So I am using some random logo and putting some text where i can't understand the text
I am also attaching the ss of the footer. Check if this is fine
![Screensh

[2022-08-10 01:11] con-artist opened #153 "Fix UI of page"
The whole UI seems to have become messed up because of a bad PR. I would like to fix things
![image](https://user-images.githubusercontent.com/82517773/183788630-e7c500ea-7854-4f73-88bd-22c520d27e1c.png)
![image](https://user-images.githubusercontent.com/82517773/183788657-5aa17e7a-a1de-45a3-86b2-0f1deb1f423f.png)
![image](https://user-images.githubusercontent.com/82517773/183788681-86f07c0a-4d20-

[2022-08-10 02:45] Subhradeep10 commented on #153
@con-artist Go ahead, assigned to you

[2022-08-10 04:05] con-artist commented on #148
@TusharKesarwani  I think someone else has already made a footer. He messaged about it on discord. So should I make it or not?

[2022-08-10 05:34] Anjuli08 commented on #40
Can I work on this issue if its not done yet?

[2022-08-10 05:41] zugzwang03 opened #158 "Improve the FAQs section"
Most of the questions in the FAQ section contains dummy text or irrelevant answers. I want to work on correcting those places under SSOC'22.
![incorrectquestion](https://user-images.githubusercontent.com/95460021/183824014-b0dc4c30-7c3f-44cd-b271-2c1d1c9e8ba5.png)
![typos](https://user-images.githubusercontent.com/95460021/183824035-2278238e-8254-448e-97d4-b4f08f2397e6.png)

[2022-08-10 08:03] anshulsoni4 opened #159 "Adding a favicon"
will add a favicon for this fitness website that will be displayed in the browser tab, using favion.io, or make a custom favicon for the same.

[2022-08-10 08:11] #159 closed

[2022-08-10 08:17] anshulsoni4 commented on #87
Hi, I need some more time for my task
will be traveling constantly, pls let me know if you can consider this

[2022-08-10 11:29] Atharv-110 commented on #144
@vaibhavsharma1234 there is a testimonial section but it didn't update on build check on your local deployment

[2022-08-10 11:30] Atharv-110 commented on #158
sure go ahead @zugzwang03, Assigned to you!

[2022-08-10 11:44] Atharv-110 commented on #87
Okay sure @anshulsoni4, make a PR before coming Monday.

[2022-08-10 12:35] anshulsoni4 commented on #87
Alright

[2022-08-10 13:48] vaibhavsharma1234 commented on #121
![nav](https://user-images.githubusercontent.com/96341386/183917671-e80aa09b-e256-4c08-8658-707ebded9568.png)
should i keep this nav bar or u want me to have ur navbar only

[2022-08-10 17:09] vaibhavsharma1234 commented on #121
i think i should keep the navbar in the picture because i tried to keep the other navabr nut its affecting the whole join page

[2022-08-10 17:20] vaibhavsharma1234 commented on #121
how does it look ?
![new-join](https://user-images.githubusercontent.com/96341386/183976272-2b9327c8-f828-43fa-a75e-93cca7882af6.png)
any changes u want or should i make a pr

[2022-08-11 04:07] zugzwang03 opened #162 "Image fixation in Pictures"
The faces of the trainees are not visible in the "Meet the Trainers" section. I want to fix this issue under SSOC'22.

![imagefix](https://user-images.githubusercontent.com/95460021/184063175-515c1faf-c293-4eb6-9176-1b06a4a60736.png)
![face](https://user-images.githubusercontent.com/95460021/184063243-81f51c70-1729-405e-a154-6a78860a5a7f.png)

[2022-08-11 04:52] tushar-glitch opened #163 "Validation of all entries in registration form"
Please assign me this issue. I can work on this.

[2022-08-11 15:10] con-artist opened #164 "Fix UI of the website"

[2022-08-11 15:11] con-artist opened #165 "Fix UI of the Home Page"
The whole UI is messed up again because of the Last PR that was merged.
I would like to fix it. Please assign me

[2022-08-11 15:46] Subhradeep10 commented on #165
@con-artist go ahead

[2022-08-11 15:47] Subhradeep10 commented on #163
@tushar-glitch How will you do this?

[2022-08-11 16:12] con-artist commented on #165
@Subhradeep10 @vaibhavsharma1234  This happens because people don't "git pull"  before making a PR because which they end up having conflicts that they don't resolve properly. Also with netlifly you can see the preview of the website before merging the PR so why do you merge the PR in the first place?
This issue happened because of the last PR that was merged.
https://github.com/Subhradeep10/Fitne

[2022-08-11 16:13] tushar-glitch commented on #163
@Subhradeep10
- For the name, I will check that the input doesn't contain any numbers or special symbols.
- For gender, Maybe I can add 3 radio options -Male, Female and Others
- I will check for a valid email syntax
- Maybe more options that will come along the way

[2022-08-11 16:14] con-artist commented on #165
Anyways, it gives me a free issue to solve so 😂

[2022-08-11 17:42] #131 closed

[2022-08-11 17:43] #158 closed

[2022-08-11 17:43] #153 closed

[2022-08-11 17:43] #150 closed

[2022-08-11 17:43] #148 closed

[2022-08-11 17:44] #147 closed

[2022-08-11 17:44] #146 closed

[2022-08-11 17:44] #139 closed

[2022-08-11 17:45] #130 closed

[2022-08-11 17:45] #126 closed

[2022-08-11 17:46] #117 closed

[2022-08-11 17:47] #59 closed

[2022-08-11 17:48] #64 closed

[2022-08-11 17:49] #78 closed

[2022-08-11 17:49] #79 closed

[2022-08-11 17:49] #82 closed

[2022-08-11 17:49] #83 closed

[2022-08-11 17:50] TusharKesarwani commented on #162
Go ahead @zugzwang03

[2022-08-11 17:58] TusharKesarwani commented on #121
Now you can make PR @vaibhavsharma1234

[2022-08-11 18:26] vaibhavsharma1234 commented on #121
i will make once the layout is resolved

[2022-08-11 18:57] #165 closed

[2022-08-11 18:58] TusharKesarwani commented on #165
This is completed by another contributor.

[2022-08-11 19:08] TusharKesarwani commented on #121
Now you can make PR

[2022-08-11 19:12] Vanshiii203 opened #168 "Changing the background of home page"

[2022-08-11 20:46] Atharv-110 commented on #168
Go ahead @Vanshiii203, try to go for some 3D vector images.
Assigned to you.

[2022-08-11 20:48] Atharv-110 commented on #163
This same issue have been already assigned please check all the issues.

[2022-08-11 20:53] Atharv-110 opened #170 "Replace the logo in Navbar"
The logo in the navbar is a normal text. Someone who can replace that text with the image given in the link below.

[https://subhradeep10.github.io/Fitnezz/images/logo.png]()

[2022-08-11 23:01] Muhammad-waqar-uit commented on #170
I can do that assign it to me.

[2022-08-12 03:24] con-artist opened #171 "Create a new testimonials section"
There is no testimonial section so I would like to create one

[2022-08-12 03:26] con-artist opened #172 "Make the coach's section responsive"
![image](https://user-images.githubusercontent.com/82517773/184279525-0612dddb-0c93-4b7a-b35f-32c88b16b492.png)
I would like to make this responsive

[2022-08-12 04:02] vaibhavsharma1234 commented on #171
https://github.com/Subhradeep10/Fitnezz/issues/144
brother i am already doing this
it will be better if there are no confusion
happy contributing

[2022-08-12 04:07] vaibhavsharma1234 opened #175 "can i improve the ui of regestration form, i have checked local code is not updated and is same as in live website"
![reges](https://user-images.githubusercontent.com/96341386/184283381-85b4d81b-7881-4361-8027-af22e3cf46f0.png)

[2022-08-12 04:10] vaibhavsharma1234 commented on #175
i have checked that there is one issue regarding https://github.com/Subhradeep10/Fitnezz/issues/163
adding more entries in form and one related to
https://github.com/Subhradeep10/Fitnezz/issues/87 validation

[2022-08-12 04:52] con-artist commented on #171
oh I forgot! Cool I will work on some other issue

[2022-08-12 04:52] #171 closed

[2022-08-12 04:58] con-artist opened #176 "Create about page"
I would like to create a new about page for the website

[2022-08-12 05:31] MohitNamdev22 commented on #102
@Ashxsh1 Are you still working on it?

[2022-08-12 05:41] MohitNamdev22 opened #177 "Improve font family of FaQ Section"
In the FaQ Section heading, sub-heading, and description all have the same Font-Family which makes it less attractive, So Can I improve it under SSOC'22?
![image](https://user-images.githubusercontent.com/89779447/184291773-c76570dd-709a-45d9-9f32-140ba31b14d3.png)

[2022-08-12 05:46] #177 closed

[2022-08-12 05:58] Vanshiii203 opened #178 "Changing the font size, font family & font weight of the all the sections."

[2022-08-12 06:10] tushar-glitch commented on #178
hey I can work on this issue. Kindly assign it to me

[2022-08-12 10:43] Atharv-110 commented on #170
okay sure @Muhammad-waqar-uit go for it, Assigned to you!

[2022-08-12 10:45] Atharv-110 commented on #178
Go for it @Vanshiii203, Assigned to you!

[2022-08-12 13:02] MohitNamdev22 opened #183 "Adding few more Trainers"
Right now there are only 4 trainers, we can add a few more trainers. So can I work on this?
![image](https://user-images.githubusercontent.com/89779447/184395940-8be4fab7-89c0-4d20-863a-07ec65d34c3b.png)

[2022-08-12 13:48] vaibhavsharma1234 commented on #175
@TusharKesarwani @Atharv-110 please assign this

[2022-08-12 13:59] TusharKesarwani commented on #175
Already assigned to someone else @vaibhavsharma1234

[2022-08-12 14:00] #175 closed

[2022-08-12 16:25] TusharKesarwani commented on #183
Go ahead @MohitNamdev22

[2022-08-12 16:26] TusharKesarwani commented on #176
Go ahead @con-artist

[2022-08-12 16:33] #140 closed

[2022-08-12 16:34] TusharKesarwani commented on #172
Go ahead @con-artist

[2022-08-12 17:16] vaibhavsharma1234 commented on #144
completed thanks

[2022-08-12 17:17] vaibhavsharma1234 commented on #121
completed thanks

[2022-08-12 17:45] con-artist opened #187 "Make a new better looking registration section"
I would like to make a new registration section which has  better UI and is  completely responsive as well.

[2022-08-12 17:51] con-artist opened #188 "Add link to button in navbar"
![image](https://user-images.githubusercontent.com/82517773/184415351-d6160f93-e737-464d-94d3-28198a899a56.png)
I would like to add the registration section link in the "become a  member " button

[2022-08-12 18:56] Anubhavgupta14 opened #189 "Work on Sign-Up page under Join Now."
Work on Sign-Up page under Join Now.

[2022-08-13 03:08] con-artist opened #191 "Fix Become a member button"
![image](https://user-images.githubusercontent.com/82517773/184466151-5c1ec9b6-da41-497f-bedc-3da8a575bb6b.png)
I would like to make this button more responsive

[2022-08-13 04:39] zugzwang03 opened #192 "Add some text in the "Testimonials" section"
Replace the dummy text in the "Testimonials" section with some relevant texts.

I want to solve this issue under SSOC'22.

![testimonial](https://user-images.githubusercontent.com/95460021/184468688-e570bee7-4536-4ae8-89be-725863cdbfda.png)

[2022-08-13 06:18] con-artist opened #195 "Fix images in the page"
I would like to fix all these images

![image](https://user-images.githubusercontent.com/82517773/184471438-f057bef3-5ff0-42d7-83a3-9e8be236bb8b.png)
![image](https://user-images.githubusercontent.com/82517773/184471463-a781d489-d263-45fe-a641-b05b8f06e519.png)
![image](https://user-images.githubusercontent.com/82517773/184471472-da0cabdd-c6e3-48da-abd3-ca4a90dd923e.png)

[2022-08-13 07:02] Vanshiii203 opened #196 "Improve the UI of the Navbar"
Improve the UI of the Navbar and the button "Become a Member" is not responsive
![Screenshot (313)](https://user-images.githubusercontent.com/94471189/184472906-ce3a3bd2-d855-46dd-b52a-6272ce606c5e.png)

[2022-08-13 10:06] ArunaAT opened #197 "make navbar icon responsive"
navbar icon is slightly towards right ,I would like to fix it.
![fitnezz](https://user-images.githubusercontent.com/98509070/184478883-31f5a3db-2ac4-4812-9010-5597eed69560.PNG)

[2022-08-13 11:23] #144 closed

[2022-08-13 11:24] #162 closed

[2022-08-14 05:14] MohitNamdev22 opened #203 "Aligning social media icons with logo properly & Fix the spacing in Gym schedule in Footer Section"
On the Footer Section, Social Icons aren't properly aligned with the logo above and on the gym schedule, the line spacing can be improved for better visuality. Can I work on this issue?

![image](https://user-images.githubusercontent.com/89779447/184523338-842a4b21-4097-4afe-bb70-e373c0fb1361.png)

[2022-08-14 10:57] Vanshiii203 opened #206 "Creating a Back workout page"

[2022-08-14 11:09] #121 closed

[2022-08-14 16:14] Atharv-110 commented on #196
Go for it @Vanshiii203, assigned to you!

[2022-08-14 18:15] #197 closed

[2022-08-14 18:15] TusharKesarwani commented on #197
This is not required.

[2022-08-14 18:16] TusharKesarwani commented on #203
This is not required here.

[2022-08-14 18:16] #203 closed

[2022-08-14 18:17] TusharKesarwani commented on #206
Already assigned to someone else.

[2022-08-14 18:17] #206 closed

[2022-08-14 18:17] TusharKesarwani commented on #187
Go ahead.

[2022-08-14 18:18] TusharKesarwani commented on #188
Go ahead.

[2022-08-14 18:18] TusharKesarwani commented on #189
Go ahead.

[2022-08-14 18:18] TusharKesarwani commented on #191
Go ahead.

[2022-08-14 18:18] TusharKesarwani commented on #192
Go ahead.

[2022-08-14 18:18] TusharKesarwani commented on #195
Go ahead.

[2022-08-14 18:19] #132 closed

[2022-08-14 18:19] #163 closed

[2022-08-14 18:20] #65 closed

[2022-08-14 18:21] #52 closed

[2022-08-14 18:23] #178 closed

[2022-08-14 18:24] #183 closed

[2022-08-15 10:45] MohitNamdev22 opened #212 "Create a Pricing Section on Website"
Can I create a Pricing section on the Page which contain the pricing of different membership plans?

[2022-08-15 12:38] nigeldias27 opened #213 "Modifying register your account section"
I would like to make the width of the buttons uniform and make the icons appear. I would also like to change the color of the gradient from yellow to purple and modify the design of the input text fields. I would also like to make it more responsive for smaller screens
<img width="1303" alt="Screenshot 2022-08-15 at 6 05 50 PM" src="https://user-images.githubusercontent.com/41966681/184636195-1c99

[2022-08-15 19:22] ShrutiMishra-2002 opened #214 "Modifying the join in section UI"
want to change the complete UI for this page

![Screenshot (39)](https://user-images.githubusercontent.com/87663868/184702708-ea929186-e7d5-4bc8-84a3-88c97b368f2e.png)

[2022-08-15 19:24] ShrutiMishra-2002 commented on #214
@Muhammad-waqar-uit @Subhradeep10 Please assign me this issue.

[2022-08-16 06:12] Muhammad-waqar-uit commented on #214
I cannot assignment it because I am just a contributor.@Atharv-110 can do this.

[2022-08-16 06:55] zugzwang03 commented on #192
The problem is the testimonial section is not present in the recent version of the website, so how do I put text into it? @TusharKesarwani

[2022-08-16 08:56] ShrutiMishra-2002 commented on #214
@Atharv-110 please assign me this issue

[2022-08-16 12:15] TusharKesarwani commented on #212
Go ahead

[2022-08-16 12:16] TusharKesarwani commented on #213
Go ahead

[2022-08-16 12:17] TusharKesarwani commented on #214
Go ahead

[2022-08-17 06:15] Vanshiii203 opened #216 "Creating Shoulder workout page"

[2022-08-18 04:50] Cypher1002 opened #219 "can work on tricep page"
i can make a good tricep workout page and link it to home page

[2022-08-18 21:19] TusharKesarwani commented on #216
Go ahead

[2022-08-18 21:20] TusharKesarwani commented on #219
Go ahead

[2022-08-18 21:22] TusharKesarwani commented on #40
Its already done now

[2022-08-18 21:22] #40 closed

[2022-08-18 21:23] TusharKesarwani commented on #42
Any updates??

[2022-08-18 21:23] TusharKesarwani commented on #44
Any updates??

[2022-08-18 21:23] TusharKesarwani commented on #45
Any updates??

[2022-08-18 21:23] TusharKesarwani commented on #46
Any updates??

[2022-08-18 21:24] TusharKesarwani commented on #47
Any updates??

[2022-08-18 21:24] TusharKesarwani commented on #51
Already updated by another contributor

[2022-08-18 21:25] #51 closed

[2022-08-18 21:25] TusharKesarwani commented on #53
Any updates??

[2022-08-18 21:25] TusharKesarwani commented on #71
Any updates??

[2022-08-19 05:22] Siddhanthota commented on #71
Working on it.

[2022-08-19 16:55] zugzwang03 opened #221 "Create a Testimonials Section"
I want to create a testimonials section for this website, just below the "Meet the Trainers" section, as it has been removed in the present version of the website.
I want to make this contribution under SSOC'22.

[2022-08-19 16:57] zugzwang03 opened #222 "Customize the scroll bar"
I want to customize the scroll bar of the website to make it look relevant with respect to the UI of the website.
I want to make this contribution under SSOC'22.

[2022-08-19 17:19] Atharv-110 commented on #221
Okay @zugzwang03, go for it assigned to you!
Make sure you pull the code and then push.

[2022-08-19 17:32] TusharKesarwani commented on #222
Go ahead

[2022-08-20 05:23] anmol20112000 commented on #47
Yes just delayed due to some reason.Will generate PR in a day or two project us ready

[2022-08-20 10:27] con-artist opened #225 "Fix image"
![image](https://user-images.githubusercontent.com/82517773/185741861-bab2dde8-9944-4584-8a55-1f01918b3c86.png)
I would like to fix this image

[2022-08-20 11:17] radzhiv25 commented on #53
Sorry got busy
Will update in 2-3 days

[2022-08-20 18:16] #214 closed

[2022-08-20 18:17] TusharKesarwani commented on #71
Ok

[2022-08-20 18:19] TusharKesarwani commented on #192
Ok
Wait for it
Another contributor is working on it

[2022-08-20 18:39] TusharKesarwani commented on #225
Go ahead

[2022-08-21 11:47] con-artist opened #227 "Create a new about us page"
I would like to create a about us page

[2022-08-21 11:48] con-artist opened #228 "News section"
I would like to add a new section above faqs

[2022-08-21 11:49] con-artist opened #229 "Contact Page"
I would like to create a contact us page

[2022-08-21 11:52] con-artist opened #230 "Fix navbar"
I would like to fix this
![image](https://user-images.githubusercontent.com/82517773/185789579-34b90cd7-9a5e-488e-81d5-54894d14f316.png)

[2022-08-21 11:55] con-artist opened #231 "Fix home page navbar"
![image](https://user-images.githubusercontent.com/82517773/185789701-9f19b258-0205-4ca6-bbd2-b80eac77f6a3.png)
I want to fix this issue on mobile view

[2022-08-21 11:56] con-artist opened #232 "Fix join now button"
![image](https://user-images.githubusercontent.com/82517773/185789727-071fe77c-f695-4a57-8761-70783780fe43.png)
I would like to make this button look better in mobile view

[2022-08-21 12:04] nigeldias27 opened #234 "Social icons of footer"
I would like to make the social icons appear correctly and adjust the position of them.
<img width="1483" alt="Screenshot 2022-08-21 at 5 28 04 PM" src="https://user-images.githubusercontent.com/41966681/185789965-f73e0494-c389-4cc8-a019-6335545eebd4.png">

[2022-08-21 13:40] AnshuMishra01 opened #235 "make the Login/Singup part Responsive"
![Screenshot 2022-08-21 190810](https://user-images.githubusercontent.com/95041038/185793662-cfece1ed-4972-4924-8e87-b8a5a2669e58.png)
 The login and signup part is not responsive ..

[2022-08-21 13:41] AnshuMishra01 opened #236 "Small Error Related to Text"
![Screenshot 2022-08-21 190545](https://user-images.githubusercontent.com/95041038/185793710-b6c493cc-5266-46ba-aa86-a0df02575f19.png)

Want to fix this issue

[2022-08-21 13:42] AnshuMishra01 opened #237 "Social Media is not Linked"
![Screenshot 2022-08-21 190641](https://user-images.githubusercontent.com/95041038/185793731-8dbcdc5c-9f87-458b-aa44-fc86892b3b69.png)
I want to link the social media handles and  add social icons

[2022-08-21 13:43] AnshuMishra01 opened #238 "login form heading styling"
![Screenshot 2022-08-21 190608](https://user-images.githubusercontent.com/95041038/185793766-20eac36c-b655-4e63-9d97-3491fccf727e.png)
the heading of second part is not done properly i want to fix it

[2022-08-24 14:52] continualWolf opened #242 "Become a member button not mobile responsive"
![image](https://user-images.githubusercontent.com/77812385/186450421-a9b9555e-e579-4f63-b9fa-d9189f795b98.png)
The button in the nav bar is not responsive , i am happy to work on this.

[2022-08-24 14:55] continualWolf opened #243 "Register section mobile responsivuee issue"
![image](https://user-images.githubusercontent.com/77812385/186451093-770e608c-1bea-48bf-b960-7611f0a50d57.png)

[2022-08-24 17:35] Cypher1002 commented on #219
can i get  an update on the issue ?
cause its showing open to me

[2022-08-24 19:55] #219 closed

[2022-08-24 19:57] #212 closed

[2022-08-24 19:57] #222 closed

[2022-08-24 19:58] #225 closed

[2022-08-24 20:00] #213 closed

[2022-08-24 20:01] #196 closed

[2022-08-24 20:04] TusharKesarwani commented on #227
Go ahead because there are no updates from the previous contributor

[2022-08-24 20:05] TusharKesarwani commented on #42
I'm closing this issue because there is no update from your side and I'm assigning this issue to another contributor.

[2022-08-24 20:06] #42 closed

[2022-08-24 20:06] TusharKesarwani commented on #228
Go ahead

[2022-08-24 20:09] TusharKesarwani commented on #44
I'm closing this issue because there are no updates from your side and I'm assigning this issue to another contributor.

[2022-08-24 20:09] #44 closed

[2022-08-24 20:09] TusharKesarwani commented on #229
Go ahead

[2022-08-24 20:10] TusharKesarwani commented on #230
Go ahead

[2022-08-24 20:12] TusharKesarwani commented on #231
This issue is the same as the previous one.
If you are fixing the navbar then you should fix it for the mobile view also.

[2022-08-24 20:12] #231 closed

[2022-08-24 20:13] TusharKesarwani commented on #232
Go ahead

[2022-08-24 20:14] TusharKesarwani commented on #234
Go ahead

[2022-08-24 20:16] TusharKesarwani commented on #235
Go ahead

[2022-08-24 20:17] TusharKesarwani commented on #236
Go ahead

[2022-08-24 20:17] TusharKesarwani commented on #237
Same issue is already created

[2022-08-24 20:17] #237 closed

[2022-08-24 20:18] TusharKesarwani commented on #238
Go ahead and make also for mobile view

[2022-08-24 20:19] TusharKesarwani commented on #242
Same issue is already created by another contributor

[2022-08-24 20:19] #242 closed

[2022-08-24 20:20] TusharKesarwani commented on #243
Same issue is already created.

[2022-08-24 20:20] #243 closed

[2022-08-25 18:52] #192 closed

[2022-08-25 18:53] #195 closed

[2022-08-25 18:54] #191 closed

[2022-08-25 18:55] #188 closed

[2022-08-25 18:55] #187 closed

[2022-08-25 18:58] #168 closed

[2022-08-25 18:59] #172 closed

[2022-08-26 04:27] zugzwang03 commented on #192
Hey, wait I can still work on this. https://github.com/Subhradeep10/Fitnezz/pull/241 does contain dummy text, which can be changed by this issue, I was just waiting for that PR to be merged so that I can make the commits for this PR. @TusharKesarwani

[2022-08-27 03:12] Abbhiishek opened #245 "SCHEDULED CLASS Cards have some padding issue"
![image](https://user-images.githubusercontent.com/86338762/187012088-d5c41e80-f2b4-4363-888d-c96daba057bc.png)

The card's bottom button is touching the card bottom part. With some padding over the section we can fix it so that it looks like a container object

[2022-08-27 03:14] VasuDevrani commented on #118
Is their anyone still working on this issue?

[2022-08-27 03:34] vaibhavsharma1234 commented on #118
This issue is completed

[2022-08-27 08:24] MohitNamdev22 opened #246 "Increasing Margin between the Text in the cards for better visibility on Featured Classes section"
The Margin / Padding between the image & text can be improved in the cards. Can I work on this issue under SSOC'22?

![image](https://user-images.githubusercontent.com/89779447/187021920-42b0487c-b9a9-41a6-84b2-78f27247ed8f.png)

[2022-08-27 09:21] Techkrish1 commented on #245
Can you assign this to me? I will fix this issue

[2022-08-28 07:59] #39 closed

[2022-08-28 08:00] #41 closed

[2022-08-28 08:35] TusharKesarwani commented on #245
Go ahead @Abbhiishek

[2022-08-28 08:36] TusharKesarwani commented on #246
Go ahead @MohitNamdev22

[2022-08-28 13:07] TusharKesarwani commented on #192
Ok, don't worry your PR will be merged soon.

[2022-08-28 14:57] zugzwang03 commented on #71
Are you still working on it? @Siddhanthota

[2022-08-28 15:08] Siddhanthota commented on #71
I am stuck with a problem. I will be comfortable if @Subhradeep10 can assign it to someone else along side me

[2022-08-28 15:18] zugzwang03 opened #254 "Add few more Trainers in the "Meet the Trainers" section"
The trainers section contains only 4 trainers, I want to add a few more to that set of trainers.
I want to make this contribution under SSOC'22.

![trainers](https://user-images.githubusercontent.com/95460021/187081400-ef8bd9af-f93f-4d78-9b3e-e681ad33d717.png)

[2022-08-28 16:44] TusharKesarwani commented on #254
Go ahead

[2022-08-28 17:22] zugzwang03 commented on #71
Hey @Subhradeep10 I can work on this problem under SSOC'22, if you assign me.

[2022-08-30 06:35] SaarthakMaini commented on #170
@Atharv-110 is this issue still open for a PR?

 If yes, could you please assign it to me?

[2022-08-30 10:19] Hittitech opened #256 "want to add a floating (right to left) fitnezz title above health is wealth and at the end of the page"
![2022-08-30](https://user-images.githubusercontent.com/87484115/187412463-a3dc5f3b-c9df-4ea8-bcdc-f6641c3e2723.png)

[2022-08-30 10:19] Hittitech commented on #256
https://fitnezzz.netlify.app/index.html

[2022-08-30 10:20] Hittitech commented on #256
@Subhradeep10

[2022-08-30 10:27] Hittitech opened #257 "want to add a title/heading for pricing and plans section with some lines like we provide the most convinient plans for you!"
![2022-08-30 (2)](https://user-images.githubusercontent.com/87484115/187414163-209512a8-8f1b-41e8-a898-f4c89cd96682.png)

[2022-08-30 10:30] Hittitech commented on #257
https://fitnezzz.netlify.app/index.html
@Subhradeep10

[2022-08-30 10:48] Hittitech opened #258 "there is some spelling mistakes in the page like carrers-careers and estabished-established will correct those and add some boldness in the required footer words"
![2022-08-30 (3)](https://user-images.githubusercontent.com/87484115/187417940-214eaa97-b279-44bf-b8a6-8f48c3652d27.png)

[2022-08-30 10:48] Hittitech commented on #258
@Subhradeep10
https://fitnezzz.netlify.app/index.html#

[2022-08-30 20:43] TusharKesarwani commented on #256
This is not a good idea!!

[2022-08-30 20:43] #256 closed

[2022-08-30 20:45] TusharKesarwani commented on #257
Go ahead
And from next time provide a description of the issue in the comment section instead of providing it in the title

[2022-08-30 20:46] TusharKesarwani commented on #258
Go ahead

[2022-08-30 20:47] Hittitech commented on #257
Sorry i will surely do it from next time

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Tushar Kesarwani ***@***.***>
Sent: Wednesday, August 31, 2022 2:15:58 AM
To: Subhradeep10/Fitnezz ***@***.***>
Cc: Md Adnan Sami ***@***.***>; Assign ***@***.***>
Subject: Re: [Subhradeep10/Fitnezz] want to add a title/heading for pricing and plans section with some lin

[2022-08-31 06:54] Vanshiii203 opened #259 "Fixing the join now button"
Make some basic padding margin edits to join now button
![Screenshot (362)](https://user-images.githubusercontent.com/94471189/187612615-7d7cf554-e757-48d0-ac07-d6b417898680.png)

[2022-08-31 06:56] Vanshiii203 opened #260 "Adding icons in footer"
![Screenshot (363)](https://user-images.githubusercontent.com/94471189/187613126-697fd3ee-9c1b-43f8-bc37-e6f60468f25b.png)

[2022-08-31 07:02] #260 closed

[2022-08-31 12:14] con-artist opened #261 "Fix navbar of home page"
![image](https://user-images.githubusercontent.com/82517773/187675879-8dac4aab-248c-4f85-a23d-e730b9b227b9.png)
I would like to fix this issue in navbar

[2022-08-31 12:18] con-artist opened #262 "Create page for back workout"
I would like to create a page for back workout like the tricep workout page

[2022-08-31 12:20] con-artist opened #263 "Fix styling of names"
I would like to fix the links styles on visit
![image](https://user-images.githubusercontent.com/82517773/187676807-9e89e525-c655-49c2-887e-77d3f086f17d.png)

[2022-08-31 12:21] con-artist opened #264 "Improve styling of cards"
![image](https://user-images.githubusercontent.com/82517773/187676931-959be832-9a00-47c4-bd77-15048b22b7bc.png)
I would like to improve the styling of these indivisual cards and make them responsive

[2022-08-31 12:23] con-artist opened #265 "Fix the hero section"
![image](https://user-images.githubusercontent.com/82517773/187677354-d2a4b2da-571b-43e7-9b99-324c71bf4194.png)
I would like to fix the join button and make the size of background image responsive

[2022-09-01 13:51] TusharKesarwani commented on #71
Go ahead @zugzwang03

[2022-09-02 12:53] TusharKesarwani commented on #259
Go ahead

[2022-09-02 12:54] TusharKesarwani commented on #261
Go ahead

[2022-09-02 12:55] TusharKesarwani commented on #262
Go ahead

[2022-09-02 12:56] TusharKesarwani commented on #263
Go ahead

[2022-09-02 12:56] TusharKesarwani commented on #264
Go ahead

[2022-09-02 12:57] TusharKesarwani commented on #265
Go ahead

[2022-09-03 05:25] adityyaa-10 opened #266 "Dark Mode"
The website should have a dark mode version as well. Most people prefer dark mode only.

[2022-09-03 09:00] Anubhavgupta14 commented on #189
Completed

[2022-09-03 09:00] #189 closed

[2022-09-04 13:33] #234 closed

[2022-09-05 11:32] TusharKesarwani commented on #266
Go ahead

[2022-09-11 10:19] #232 closed

[2022-09-11 10:20] #246 closed

[2022-09-11 10:21] #254 closed

[2022-09-11 10:22] #258 closed

[2022-09-11 10:23] #266 closed

[2022-09-11 10:27] TusharKesarwani opened #268 "Navbar is not responsive"
If anyone wants to work on this issue then comment here. I will assign this issue to you.

[2022-09-11 10:29] TusharKesarwani commented on #45
Your time is over now.

[2022-09-11 10:29] #45 closed

[2022-09-11 10:29] #46 closed

[2022-09-11 10:30] TusharKesarwani commented on #47
Any updates now??

[2022-09-11 10:36] #229 closed

[2022-09-11 10:36] #227 closed

[2022-09-11 10:37] #230 closed

[2022-09-11 10:38] TusharKesarwani commented on #55
ANy updates??

[2022-09-11 10:40] TusharKesarwani commented on #72
Not required now and your time is over.

[2022-09-11 10:40] #72 closed

[2022-09-11 10:41] #98 closed

[2022-09-11 10:42] #102 closed

[2022-09-11 10:43] TusharKesarwani commented on #112
Any updates??

[2022-09-11 12:04] Aman-Singh-Kushwaha commented on #55
Will finish this issue very soon

[2022-09-11 14:32] #47 closed

[2022-09-11 18:04] Anikalp1 opened #270 "adding page for arm workout."
Initially, I want to add page for arm workout. And then will be working on other issues, I hope task will be assigned, soon

[2022-09-11 18:19] Anikalp1 opened #271 "adding page for chest workout and arm workout."
I want to add page for chest workout and arm workout. And then will be working on other issues, I hope task will be assigned, soon.

[2022-09-12 07:11] TusharKesarwani commented on #271
Go ahead

[2022-09-12 09:13] Anubhavgupta14 opened #273 "Add a Page for Cardio WorkOut"
Add a Page for Cardio WorkOut

[2022-09-12 09:18] Anubhavgupta14 opened #274 "Add a Contact Us Page"
Add a Contact Us Page

[2022-09-12 09:31] Anubhavgupta14 opened #275 "Contact Us Page is not working."
Contact Us Page is not working. I will Fix the link and improve the interface of contact us.

[2022-09-12 09:36] Anubhavgupta14 opened #276 "About Us is not working"
About Us is not working, I will Fix the issue and improve the interface.

[2022-09-12 09:37] Anubhavgupta14 commented on #276
@TusharKesarwani @Subhradeep10 Please Assign me this issues @ #275 #273

[2022-09-12 10:02] TusharKesarwani commented on #276
It was not working because links is not added. Now, I have added the links in the navbar. If are going to change the interface then you should first explain what you are going to change in the interface.

[2022-09-12 10:03] TusharKesarwani commented on #275
It was not working because links is not added. Now, I have added the links in the navbar. If are going to change the interface then you should first explain what you are going to change in the interface.

[2022-09-12 10:03] TusharKesarwani commented on #273
Go ahead

[2022-09-12 10:07] TusharKesarwani commented on #55
Already added by another contributor

[2022-09-12 10:07] #55 closed, assigned to Aman-Singh-Kushwaha

[2022-09-12 10:39] Anubhavgupta14 commented on #275
I will change the background, colors of headlines, and add the documentation.

[2022-09-12 12:23] TusharKesarwani commented on #275
Go ahead

[2022-09-12 14:20] nigeldias27 commented on #268
Can I work on this?

[2022-09-12 16:42] Anubhavgupta14 commented on #276
I have changed the Background to Animation Type Background. Please Assign it to me

[2022-09-12 16:56] #270 closed

[2022-09-12 16:56] Anikalp1 commented on #270
combined this issue, under a issue #271

[2022-09-12 17:38] Anikalp1 commented on #271
fixed issue and pull request #278

[2022-09-13 17:03] TusharKesarwani commented on #268
Go ahead @nigeldias27

[2022-09-13 20:31] Aman-Singh-Kushwaha commented on #123
Completed

[2022-09-13 20:31] #123 closed

[2022-09-14 12:17] zugzwang03 opened #280 "Add relevant text in the "About" section"
There is some dummy text in the "about" section. I want to replace it with relevant instructions.
I want to resolve this issue under SSOC'22.

![about](https://user-images.githubusercontent.com/95460021/190151072-75096cfc-eeff-4b08-b7f0-714ae4eae0fd.png)

[2022-09-14 12:25] zugzwang03 opened #281 "Add proper text in the 'contact' section of the website"
I want to add some proper text in the contact page for the website.
I want to work on this issue under SSOC'22.

![contact](https://user-images.githubusercontent.com/95460021/190154216-b0f67ca2-95d5-4ad9-8e51-22bb0ba35c04.png)

[2022-09-14 14:43] #276 closed

[2022-09-14 14:44] #275 closed

[2022-09-14 14:46] TusharKesarwani commented on #280
Go ahead

[2022-09-14 14:47] TusharKesarwani commented on #281
Go ahead

[2022-09-14 16:35] Prahmodh-R commented on #64
This is part of SSOC '22 and mail id is pramodhr181@gmail.com.
Devfolio username: Prahmodh_Raj

[2022-09-14 17:19] #71 closed

[2022-09-15 06:34] Shoban07 commented on #281
If this has been fixed , please close the issue . a gentle reminder

[2022-09-15 08:16] Pkesarkar1319 commented on #265
I would like to contribute to this issue.

[2022-09-15 08:17] Pkesarkar1319 commented on #263
I would like to contribute to the issue

[2022-09-15 08:18] Pkesarkar1319 commented on #259
I would like to contribute to the issue

[2022-09-15 09:11] zugzwang03 commented on #281
yeah, this issue has been resolved in the latest version of the deployed website.

[2022-09-15 09:11] #281 closed

[2022-09-15 10:36] zugzwang03 opened #283 "Add hovering effect on these cards in "About us" section"
I want to add some hovering effects on these cards, like box shadow, scaling, etc.
I want to contribute on this issue under SSOC'22.

![about](https://user-images.githubusercontent.com/95460021/190382608-8f73369f-1be6-4ad9-8999-07b4a4d5e883.png)

[2022-09-15 17:43] Anubhavgupta14 opened #284 "I will add the Pre-Loader in the website."
Example:-
![Loading_icon](https://user-images.githubusercontent.com/97956667/190473898-0e40cdc9-cd36-48b2-885a-824304717cae.gif)

[2022-09-15 17:44] Anubhavgupta14 commented on #284
@TusharKesarwani @Subhradeep10 Please Assign it to me

[2022-09-16 06:43] TusharKesarwani commented on #284
Go ahead

[2022-09-16 06:44] TusharKesarwani commented on #283
Go ahead

[2022-09-17 04:53] PritamSarbajna opened #290 "[IMPROVEMENT] : Should have a space below the button"
In the cards below the _join now_ button there should be a little bit gap or space

https://user-images.githubusercontent.com/90236635/190841018-5bce900b-be4e-4d94-80e0-a76c9ba0b24c.mp4

[2022-09-17 20:42] Anikalp1 opened #292 "Pages for leftover workout sections under featured classes, have to be added."
I will add page for back workout, leg workout, shoulder workout, bicep workout and cardio workout.

[2022-09-19 14:12] TusharKesarwani commented on #292
Go ahead

[2022-09-19 14:13] TusharKesarwani commented on #290
Go ahead

[2022-09-20 13:40] Anubhavgupta14 opened #295 "Will Add Animation in all Featured Classes Div."
Will Add Animation in all Featured Classes Div. (Simple Moving Animation)

[2022-09-20 19:48] Drishti-jain21 opened #296 "Changing the UI of contact us page"
I want to change the UI of the contact us page. At present it has some placement issues and the form is simple.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/100796147/191350752-e8b4b45f-68d6-4cc6-bfbc-eba9e7bc5c0c.png">

I want to correct the placement of location, phone and email icons.
Also, I want to add hover effect in text boxes in the form

[2022-09-20 21:55] con-artist opened #297 "Create page for leg workout"
I would like to create a page for leg workout

[2022-09-20 21:56] con-artist opened #298 "Create page for shoulder workout"
I would like to create a page for shoulder workout as well

[2022-09-20 21:58] con-artist opened #299 "Make contacts page responsive"
Contact page is not responsive and has flaws in mobile view. I would like to fix those issues

[2022-09-20 22:02] con-artist opened #300 "Make about us page responsive"
About us page is not responsive and I would like to make it responsive
![image](https://user-images.githubusercontent.com/82517773/191372939-d4956002-b7a7-4188-9ce8-3f272a480c6e.png)

[2022-09-21 14:30] Eknoor02 opened #301 "Fixing the links in the footer to work"

[2022-09-21 14:31] Eknoor02 opened #302 "Adding animations to the Featured classes"

[2022-09-21 14:31] Eknoor02 opened #304 "Adding animations to the testimonials"

[2022-09-21 14:32] #284 closed

[2022-09-22 05:55] TusharKesarwani commented on #296
Go ahead

[2022-09-22 05:56] TusharKesarwani commented on #297
Go ahead

[2022-09-22 07:37] codewithrabeeh opened #305 "Icons in the pricing section are not showing."
Icons In the plan features is not showing.
![image](https://user-images.githubusercontent.com/65481473/191686508-0ccdeab5-b9ca-4287-ab0c-8be1ae76479b.png)

[2022-09-22 16:47] HarshAg90 commented on #296
hey, what kind of hover effect do you want on text boxes

[2022-09-22 16:53] Drishti-jain21 commented on #296
I want when the user clicks on the text box, it highlights
Along with that, I want to change the positioning of the form and the existing features

[2022-09-22 19:56] TusharKesarwani commented on #295
Go ahead

[2022-09-22 19:57] TusharKesarwani commented on #298
Go ahead

[2022-09-22 19:57] TusharKesarwani commented on #299
Go ahead

[2022-09-22 19:58] TusharKesarwani commented on #300
Go ahead

[2022-09-22 19:59] TusharKesarwani commented on #301
Please elaborate

[2022-09-22 19:59] TusharKesarwani commented on #302
Go ahead

[2022-09-22 20:00] TusharKesarwani commented on #304
Go ahead

[2022-09-22 20:00] TusharKesarwani commented on #305
Go ahead

[2022-09-23 01:35] AnirbanPatragithub opened #306 "Readme.md lacks project description & some grammatical error in site."
readme.md doesnot say a word about the project and the purpose of it.
One has to visit the website to find out the the project details.

There are some grammitical error and inappropriate sentences.

[2022-09-23 06:02] TusharKesarwani commented on #306
Go ahead

[2022-09-23 08:20] Eknoor02 commented on #301
![Screenshot (202)](https://user-images.githubusercontent.com/65605024/191919343-59f80ade-e8e3-4b77-b8a1-356977197f4f.png)
The links under the your fitness are redirecting to the head of the page instead moving to the other options.

[2022-09-23 11:02] AnirbanPatragithub commented on #306
Thanks For assigning

[2022-09-23 15:57] ERodriguez-10 opened #309 "Redesign card price"
Hi everybody!

This is my first Issue here in the project, and I want to improve this section. I have some ideas about it, also it has some css mistakes that I will fix.

![image](https://user-images.githubusercontent.com/86686445/192002447-0490090c-25c5-4cdf-8000-0a1e2d396419.png)

Please, tell me if I can do it.

Have a nice day!

[2022-09-23 20:15] HarshAg90 commented on #296
I made a Pull req, please review :)

[2022-09-23 20:45] TusharKesarwani commented on #309
Go ahead

[2022-09-23 20:52] TusharKesarwani commented on #301
Go ahead

[2022-09-23 21:06] Drishti-jain21 commented on #296
But i am working on this issue

[2022-09-24 04:01] RohitRajvaidya5 commented on #301
Is this issue resolved ? I want to contribute.

[2022-09-24 04:03] RohitRajvaidya5 commented on #114
Is this issue resolved ? I want to contribute in it.

[2022-09-24 18:07] Drishti-jain21 commented on #296
@TusharKesarwani should i leave this issue and work on another issue as someone else made a PR on my issue and it has been merged

[2022-09-24 18:09] Drishti-jain21 opened #315 "Changing UI of the Joining Page"
The form in the joining page is not properly aligned
<img width="960" alt="image" src="https://user-images.githubusercontent.com/100796147/192112528-15f699b9-8094-448a-8cea-a5b740cea7b4.png">
I would like to correct it along with changing the content

[2022-09-24 18:43] Kirankp25 opened #317 "To implement user-friendly UI at footer"
I would like to make it a more attractive and professional view at the bottom of the site, which positively impacts the user's mind. Please assign me this issue
![Screenshot (275)](https://user-images.githubusercontent.com/87818185/192113697-6392c4a0-a03e-437b-9ee1-15ef9b824271.png)

[2022-09-25 04:16] Anubhavgupta14 opened #320 "Will make Cardio Page responsive"
Will make Cardio Page, and other subpages responsive.

[2022-09-25 12:03] TusharKesarwani commented on #296
Leave this issue

[2022-09-25 12:04] TusharKesarwani commented on #315
Go ahead

[2022-09-25 12:06] TusharKesarwani commented on #317
Go ahead

[2022-09-25 12:06] TusharKesarwani commented on #320
Go ahead

[2022-09-25 13:44] #273 closed

[2022-09-25 18:37] Anikalp1 opened #324 "Adding scroll to top button on workout pages."
**Will be adding scroll to top button on, pages below.**

![Screenshot (57)](https://user-images.githubusercontent.com/96365444/192159602-8249acc9-681d-4d08-a08a-adca893e9bb7.png)

                                  ******************************************************************

![Screenshot (58)](https://user-images.githubusercontent.com/96365444/192159608-cbff979e-f585-44ce-a2d4-2ccf2f879488.

[2022-09-25 20:11] ipeavy commented on #324
Can I do this?

[2022-09-26 07:17] Eknoor02 opened #326 "Adding on scroll transitions to the testimonials section"
![Screenshot (203)](https://user-images.githubusercontent.com/65605024/192215818-f78795cc-0ece-43c1-868e-812a6d134a7e.png)

[2022-09-26 07:17] Eknoor02 opened #327 "Adding animations to the trainer section"
![Screenshot (204)](https://user-images.githubusercontent.com/65605024/192215938-1888992a-c672-4301-84ca-932da36aad03.png)

[2022-09-26 13:42] Kirankp25 opened #328 "To update about us page"
pls assign me these issue
![fitz1](https://user-images.githubusercontent.com/87818185/192291649-ca3a4f19-f95d-49e1-b7c6-e1eebd161c5a.png)

[2022-09-26 13:44] Kirankp25 opened #329 "To update Default text at contact page"
Please, assign me this issue.
![fitz2](https://user-images.githubusercontent.com/87818185/192292186-91bf2df5-509d-45fc-86e6-619b1968d281.png)

[2022-09-26 13:45] Kirankp25 opened #330 "To add some more testimonials at empty space of our site"
Please assign me this issue.

![fitz3](https://user-images.githubusercontent.com/87818185/192292513-c9ac9e7c-fdcb-4c95-819c-0e773dcfee0b.png)

[2022-09-26 13:58] zugzwang03 commented on #221
kindly close this issue as completed @Atharv-110

[2022-09-26 13:59] zugzwang03 commented on #283
kindly close this issue as completed @TusharKesarwani

[2022-09-26 14:58] codewithrabeeh commented on #305
@RobertoF90 great job!

[2022-09-26 14:58] #305 closed

[2022-09-26 16:47] RobertoF90 commented on #305
Happy to help!

[2022-09-27 06:56] Eknoor02 commented on #301
PR for this Issue merged.

[2022-09-27 06:56] #301 closed

[2022-09-27 06:56] Eknoor02 commented on #302
PR for this issue merged

[2022-09-27 06:56] #302 closed

[2022-09-27 06:57] Eknoor02 commented on #304
PR for this issue merged

[2022-09-27 06:57] #304 closed

[2022-09-27 09:04] TilteD24 opened #331 "Adding a scroll to top animation button in home page in place of the existing link"

[2022-09-27 13:01] #326 closed

[2022-09-27 13:01] #327 closed

[2022-09-27 13:24] MasterReach1 commented on #331
New contributor here! I would love to take this issue on

[2022-09-27 14:46] TusharKesarwani commented on #324
Go ahead

[2022-09-27 14:47] TusharKesarwani commented on #328
Go ahead

[2022-09-27 14:47] TusharKesarwani commented on #329
Go ahead

[2022-09-27 14:48] TusharKesarwani commented on #330
Go ahead

[2022-09-27 14:49] TusharKesarwani commented on #331
Go ahead

[2022-09-27 17:14] Anikalp1 commented on #331
This issue is a spam, and has been claimed before.

[2022-09-28 03:46] #317 closed

[2022-09-28 19:22] Anupamgupt opened #332 "Make BackWorkout page responsive"
BackWorkout page is not responsive and I would like to make it responsive

![Screenshot (43)](https://user-images.githubusercontent.com/91828258/192870432-cf1a483e-6017-41ac-9bb6-b6bfd3ca3ec6.png)

[2022-09-30 04:30] TusharKesarwani commented on #53
I'm closing this issue
As it was already done by another contributor
And contribution phase is ending soon.

[2022-09-30 04:31] #53 closed

[2022-09-30 04:32] TusharKesarwani commented on #60
I'm closing this issue
As it was already done by another contributor
And contribution phase is ending soon.

[2022-09-30 04:32] #60 closed

[2022-09-30 04:34] TusharKesarwani commented on #112
I'm closing this issue
As it was already done by another contributor
And contribution phase is ending soon.

[2022-09-30 04:34] #112 closed

[2022-09-30 16:58] soham-pagi commented on #259
[Vanshiii203](https://github.com/Vanshiii203), are you working on this issue?

[2022-09-30 17:21] soham-pagi opened #336 "Add home page URL to Home anchor tag in index.html"

[2022-09-30 17:24] soham-pagi commented on #336
Can I solve this issue?

[2022-10-01 06:23] codewithrabeeh commented on #336
Does this project come under hactoberfest? @Subhradeep10

[2022-10-01 15:46] #332 closed

[2022-10-01 15:47] #331 closed

[2022-10-01 15:54] #329 closed

[2022-10-01 16:10] #261 closed

[2022-10-01 16:12] #257 closed

[2022-10-01 16:13] #87 closed

[2022-10-01 16:25] TusharKesarwani commented on #114
You can work on this issue @RohitRajvaidya5

[2022-10-01 16:31] #118 closed

[2022-10-01 16:36] #120 closed

[2022-10-01 16:37] #170 closed

[2022-10-01 16:37] #176 closed

[2022-10-01 16:37] #216 closed

[2022-10-01 17:00] #221 closed

[2022-10-01 18:12] #235 closed

[2022-10-01 18:12] #236 closed

[2022-10-01 18:12] #238 closed

[2022-10-01 18:13] #245 closed

[2022-10-01 18:15] #262 closed

[2022-10-01 18:16] #263 closed

[2022-10-01 18:16] #264 closed

[2022-10-01 18:16] #265 closed

[2022-10-01 18:16] #271 closed

[2022-10-01 18:17] #280 closed

[2022-10-01 18:17] #283 closed

[2022-10-01 18:17] #290 closed

[2022-10-01 18:18] #292 closed

[2022-10-01 18:18] #295 closed

[2022-10-01 18:18] #296 closed

[2022-10-01 18:18] #297 closed

[2022-10-01 18:19] #298 closed

[2022-10-01 18:19] #299 closed

[2022-10-01 18:19] #300 closed

[2022-10-01 18:21] #330 closed

[2022-10-01 18:22] #315 closed

[2022-10-01 22:47] #228 closed

[2022-10-05 15:53] codewithrabeeh opened #338 "A Button In The Top of Navbar [Bug]"
![image](https://user-images.githubusercontent.com/65481473/194105475-ed70c5aa-ed58-4ef4-bd9f-5f4f22bee22c.png)

[2022-10-05 17:53] Subhradeep10 commented on #338
@codewithrabeeh Assign to you

[2022-10-07 17:59] sumitkr2000 opened #340 "Improving frontend"
Hey, @Subhradeep10 I want to improve the front end of your website. Can you please assign me this issue? Thank you!

[2022-10-08 04:25] Subhradeep10 commented on #340
@sumitkr2000 go ahead, assign to you

[2022-10-10 05:48] #340 closed

[2022-10-11 08:04] Ashxsh1 commented on #102
Yep!
Due to some important work it is getting delayed, Ill finish it ASAP.

On Fri, Aug 12, 2022 at 11:02 AM Mohit Namdev ***@***.***>
wrote:

[2022-10-15 10:33] #338 closed

[2022-10-19 14:44] rabeehebrahim opened #342 "Validation on Registraton Form"
Validate Registration Form using Javascirpt.

[2022-10-19 14:45] codewithrabeeh commented on #342
Could you please assign me this task?

[2022-11-01 02:39] ipeavy opened #343 "Add URL anchor link to the chest workout page (chestworkout.html)"

[2022-11-01 03:33] ipeavy opened #344 "Add footer to chest workout page"